<link rel="stylesheet" href="/common/css/tab/tabA1.css">
<div class="container">
    <!-- 组件 lj-tab-a-1 start -->
    <h3><b>样式型号：</b> lj-tab-a-1</h3>
    <p><a href="/zip/ljTab/ljTabA1.zip"  download="ljTabA1.zip">点击下载</a></p>
    <lj-tab-a-1  tabs-a-1='tabsA1' select-one="selectOne(contentOne)"></lj-tab-a-1>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-tab-a-1>&lt;/lj-tab-a-1>
</pre>
    <!-- 组件 lj-tab-a-1 end -->
    <h5><b>组件说明：</b></h5>
<pre>
    1.tabs-a-1 选项卡导航名称和包页面信息
    2.select-one 选择其中一个选项卡触发的方法
</pre>
</div>