<link rel="stylesheet" href="/common/css/tab/tabB1.css">
<div>
    <!-- 组件 lj-tab-b-1 start -->
    <h3><b>样式型号：</b> lj-tab-b-1</h3>
    <p><a href="/zip/ljTab/ljTabB1.zip"  download="ljTabB1.zip">点击下载</a></p>
    <lj-tab-b-1  classifys='classifys' typeurl='/#/buttonA' firstclassify="firstclassify(classifyone)" gotopurl='/common/images/back_top.png'></lj-tab-b-1>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-tab-b-1 classifys='classifys' typeurl='/#/buttonA' firstclassify="firstclassify(classifyone)" gotopurl='/common/images/back_top.png'>&lt;/lj-tab-b-1>
</pre>
    <!-- 组件 lj-tab-b-1 end -->
    <h5><b>组件说明：</b></h5>
<pre>
    1.classifys 所有的分类数据
    2.typeurl 点击三级分类跳转的地址
    3.firstclassify 点击一级分类触发的方法
    4.gotopurl 返回顶部图片地址,默认值，也可以自行设置
</pre>
</div>