<link rel="stylesheet" href="/common/css/tab/tabC1.css">
<div>
    <!-- 组件 lj-tab-c-1 start -->
    <h3><b>样式型号：</b> lj-tab-c-1</h3>
    <p><a href="/zip/ljTab/ljTabC1.zip"  download="ljTabC1.zip">点击下载</a></p>
    <lj-tab-c-1 tabsc="tabsc" ljf="toChange(item,index)"></lj-tab-c-1>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-tab-c-1 tabsc="tabsc" ljf="toChange(item,index)">&lt;/lj-tab-c-1>
</pre>
    <!-- 组件 lj-tab-c-1 end -->
    <h5><b>组件说明：</b></h5>
<pre>
    1.tabsc 选项卡导航数据
    2.ljf 切换选项卡在console显示选中的信息
</pre>
</div>