<div class="container-fluid">
	<div>
		<ul class="labelType-a1" id="ljLableA1Id">
			<li ng-repeat="labelone in labelsarr" ng-class="{'taupeLabel':labelone.id%5  == 1,'purpleLabel':labelone.id%5  == 2,'darkGreenLabel':labelone.id%5 == 3,'redLabel':labelone.id%5 == 4,'blueLabel':labelone.id%5 == 0}" >
				<div class="labelName-a1">
					<strong>{{labelone.name}}</strong>
					<a href="javascript:void(0);" class="labelEditor-a1"></a>
					<a href="javascript:void(0);" ng-click="ljfdel({fs:labelone})" class="labelDelete-a1"></a>
				</div>
				<div class="labelNum-a1">
					<span>
						<strong>{{labelone.labels}}</strong>
					</span>
				</div> <!-- 棕色 -->
			</li>
		</ul>
	</div>
	<div class="addLabel-a1">
		<button ng-click="ljfadd()">添加标签</button>
	</div>
</div>
