<!doctype html>  
<html>  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link href="/ng/css/template.css" type="text/css" rel="stylesheet" />
    <link href="/common/css/bootstrap.css" type="text/css" rel="stylesheet" />   
  </head>  
  <style type="text/css">
      .panel-body{
        padding: 10px 16px;
      }
      .col-md-9{ cursor:pointer;}
  </style>
  <body>  
    <span class="top">
      <div class="panel panel-default">
        <div class="panel-body">          
            <div class="row">
                <div class="col-xs-9" title="首页"><strong style="font-size: 20px;" ">IDP教育集团图书仓库管理系统</strong> </div>
                <div class="col-xs-2">
                <if condition="$userinfo.username">
                欢迎你 {$userinfo.username}
                </if>
                </div>
                <div class="col-xs-1"><a href="__APP__/login/loginOut" ">退出</a></div>

            </div>        
        </div>
    </div>     
    </span>  
  </body>
</html>  