<link rel="stylesheet" href="/common/css/breadcrumbNav/breadcrumb-nav-a1.css">
<div class="container">
    <!-- 组件 lj-breadcrumbtrail-a-1 start -->
    <h3><b>样式型号：</b> lj-breadcrumbtrail-a-1</h3>
    <p><a href="/zip/ljBreadcrumbtrail/ljBreadCrumbtrailA1.zip"  download="ljBreadCrumbtrailA1.zip">点击下载</a></p>
        <lj-breadcrumbtrail-a-1 lists="listArr"></lj-breadcrumbtrail-a-1>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-breadcrumbtrail-a-1 lists="listArr">&lt;/lj-breadcrumbtrail-a-1>
</pre>    
    <h5><b>组件说明：</b></h5>
<pre>
    1.lists 用于设置面包屑导航的名称链接，可以设置多个
    2.面包屑最底级导航无连接
</pre>
<!-- 组件 lj-breadcrumbtrail-a-1 end -->
</div>
<div class="container">
    <!-- 组件 lj-breadcrumbtrail-a-2 start -->
    <h3><b>样式型号：</b> lj-breadcrumbtrail-a-2</h3>
    <p><a href="/zip/ljBreadcrumbtrail/ljBreadCrumbtrailA2.zip"  download="ljBreadCrumbtrailA2.zip">点击下载</a></p>
        <lj-breadcrumbtrail-a-2 lists="listArr"></lj-breadcrumbtrail-a-2>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-breadcrumbtrail-a-2 lists="listArr">&lt;/lj-breadcrumbtrail-a-2>
</pre>    
    <h5><b>组件说明：</b></h5>
<pre>
    1.lists 用于设置面包屑导航的名称链接，可以设置多个
    2.除最底级导航，其他导航均有链接
</pre>
<!-- 组件 lj-breadcrumbtrail-a-2end -->
</div>




