    <link rel="stylesheet" href="/common/css/input/input.css">
<div class="container">
    <!-- 组件 lj-input-a-1-m start -->
    <h3><b>样式型号：</b> lj-input-a-1-m</h3>
    <p><a href="/zip/ljInput/ljInputA1M.zip"  download="ljInputA1M.zip">点击下载</a></p>
        <lj-input-a-1-m len='10' msg='msg' active='ljActive' value='value' isnull='1' isblur='1' defaultmsg="请输入..."></lj-input-a-1-m>
    <br>
    <button type="button"  class="btn btn-primary btn-md" ng-click='myFun()'>
    保存
    </button>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-input-a-1-l len='10' msg='msg' active='ljActive' value='value' isnull='1' isblur='1' defaultmsg="请输入...">&lt;/lj-input-a-1-m>
</pre>    
    <h5><b>组件说明：</b></h5>
<pre>
    1.len 设置input 限制长度 默认100 
    2.msg 变量: 错误提示信息
    3.active 变量:错误样式 active true 显示正确样式 false 显示错误样式
    3.value 变量:绑定input 框输入的值
    4:isnull 变量：用于设置是否进行非空验证 1：进行非空验证 其他则表示不用进行非空验证
    5:isblur 变量：用于设置input框失去焦点事都进行验证 1：失去焦点验证 其他则表示不验证
    6:defaultmsg input框默认提示信息，可以自行设置，也可以设置为空
    7.验证说明：提交表单时，如果isnull设置为1,只验证是否为空，同时边框变红
</pre>
<!-- 组件 lj-input-a-1-m end -->

<!-- 组件 lj-input-a-1-l start -->
    <h3><b>样式型号：</b> lj-input-a-1-l</h3>
    <p><a href="/zip/ljInput/ljInputA1L.zip"  download="ljInputA1L.zip">点击下载</a></p>
    <lj-input-a-1-l len='10' msg='msgal' active='ljActiveal' value='valueal' isnull='1' isblur='1' defaultmsg="请输入..."></lj-input-a-1-l >
    <br>
    <button type="button"  class="btn btn-primary btn-md" ng-click='myFunal()'>
    保存
    </button>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-input-a-1-l len='10' msg='msgal' active='ljActiveal' value='valueal' isnull='1' isblur='1' defaultmsg="请输入...">&lt;/lj-input-a-1-l>
</pre>    
    <h5><b>组件说明：</b></h5>
<pre>
    1.len 设置input 限制长度 默认100 
    2.msg 变量: 错误提示信息
    3.active 变量:错误样式 active true 显示正确样式 false 显示错误样式
    3.value 变量:绑定input 框输入的值
    4:isnull 变量：用于设置是否进行非空验证 1：进行非空验证 其他则表示不用进行非空验证
    5:isblur 变量：用于设置input框失去焦点事都进行验证 1：失去焦点验证 其他则表示不验证
    6:defaultmsg input框默认提示信息，可以自行设置，也可以设置为空
    7.验证说明：提交表单时，如果isnull设置为1,只验证是否为空，同时边框变红
</pre>
<!-- 组件 lj-input-a-1-l end -->
</div>