<link rel="stylesheet" href="/common/css/input/input.css">
<div class="container">
    <!-- 组件 lj-input-e-1 start -->
    <h3><b>样式型号：</b> lj-input-e-1</h3>
    <p><a href="/zip/ljInput/ljInputE1.zip"  download="ljInputE1.zip">点击下载</a></p>
    <lj-input-e-1 isblur='1' isnull='1' maxnum='100' msg='msge' active='ljActivee' value='valuee' place='请输入数量'></lj-input-e-1>
    <br>
    <button type="button"  class="btn btn-primary btn-md" ng-click='myFune()'>
    保存
    </button>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-input-e-1 isblur='1' isnull='1' maxnum='100'  msg='msge' active='ljActivee' value='valuee' place='请输入数量'> &lt;/lj-input-e-1>
</pre>    
<h5><b>组件说明：</b></h5>
<pre>
    <b>适用于输入 数量输入</b>
    1.maxnum 设置input 限制最大数 默认空
    2.isblur 是否失去焦点验证 1 是 2 否
    3.isnull 是否为空验证 1 是 2 否
    4.msg 变量: 错误提示信息
    5.active 变量:错误样式 active true 显示正确样式 false 显示错误样式
    6.value 变量:绑定input 框输入的值
    7.place placeholder提示信息
    8.次组件最小值为1 无法设置
</pre>
    <!-- 组件 lj-input-e-1 end -->
</div>