<link rel="stylesheet" href="/common/css/input/input.css">
<div class="container">
    <!-- 组件 lj-input-l-1 start -->
    <h3><b>样式型号：</b> lj-input-l-1</h3>
    <p><a href="/zip/ljInput/ljInputL1.zip"  download="ljInputL1.zip">点击下载</a></p>
    <lj-input-l-1 msg='msgl' active='ljActivel' value='valuel' defaultmsg="请输入6-15位密码"></lj-input-l-1>
    <br>
    <button type="button"  class="btn btn-primary btn-md" ng-click='myFunl()'>
    保存
    </button>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-input-l-1  msg='msgj' active='ljActivej' value='valuej' defaultmsg="请输入6-15位密码">&lt;/lj-input-l-1>
</pre>    
<h5><b>组件说明：</b></h5>
<pre>
    1.msg 变量: 错误提示信息
    2.active 变量:错误样式 active true 显示正确样式 false 显示错误样式
    3.value 变量:绑定input 框输入的值
    4:defaultmsg input框默认提示信息，可以自行设置，也可以设置为空
    5:该input框适用于单个的密码框
</pre>
    <!-- 组件 lj-input-l-1 end -->
</div>