<link rel="stylesheet" href="/common/css/input/input.css">
<div class="container">
    <!-- 组件 lj-input-d-1 start -->
    <h3><b>样式型号：</b> lj-input-d-1</h3>
    <p><a href="/zip/ljInput/ljInputD1.zip"  download="ljInputD1.zip">点击下载</a></p>
    <lj-input-d-1 len='15' msg='msgd' active='ljActived' value='valued' isnull='1' isblur='1' defaultmsg="请输入金额"></lj-input-d-1>
    <br>
    <button type="button"  class="btn btn-primary btn-md" ng-click='myFund()'>
    保存
    </button>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-input-d-1 msg='msgd' active='ljActived' value='valued' isnull='1' isblur='1' defaultmsg="请输入金额">&lt;/lj-input-d-1>
</pre>    
    <h5><b>组件说明：</b></h5>
<pre>
    1.len 设置input 限制长度 默认100 
    2.msg 变量: 错误提示信息
    3.active 变量:错误样式 active true 显示正确样式 false 显示错误样式
    4.value 变量:绑定input 框输入的值
    5:isnull 变量：用于设置是否进行非空验证 1：进行非空验证 其他则表示不用进行非空验证
    6:isblur 变量：用于设置input框失去焦点事都进行验证 1：失去焦点验证 其他则表示不验证
    7:defaultmsg input框默认提示信息，可以自行设置，也可以设置为空
    8.验证说明：该组件适用于金额的输入框
</pre>
    <!-- 组件 lj-input-d-1 end -->
</div>