<link rel="stylesheet" href="/common/css/input/input.css">
<div class="container">
    <!-- 组件 lj-input-k-1 start -->
    <h3><b>样式型号：</b> lj-input-k-1</h3>
    <p><a href="/zip/ljInput/ljInputK1.zip"  download="ljInputK1.zip">点击下载</a></p>
    <lj-input-k-1 msg='msgk' value='valuek' active='ljActivek' isnull='1'  defaultmsg="http://或https://开头"></lj-input-k-1>
    <br>
    <button type="button"  class="btn btn-primary btn-md" ng-click='myFunk()'>
    保存
    </button>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-input-k-1 msg='msgk' value='valuek' active='ljActivek' isnull='1'  defaultmsg="http://或https://开头">&lt;/lj-input-k-1>
</pre>    
    <h5><b>组件说明：</b></h5>
<pre>
    1.msg 变量: 错误提示信息
    2.value 变量:绑定input 框输入的值
    3.active 变量:错误样式 active true 显示正确样式 false 显示错误样式
    4:isnull 变量：用于设置是否进行非空验证 1：进行非空验证 其他则表示不用进行非空验证
    5:defaultmsg input框默认提示信息，可以自行设置，也可以设置为空
    6:该组件适用于以http:// 或者https://开头的url地址输入
</pre>
<!-- 组件 lj-input-k-1 end -->
</div>