<div class="swiper-container">
    <div class="swiper-wrapper">
        <div style="cursor:pointer" class="swiper-slide" ng-repeat="items in imagesb" ng-click="imgdetail({imgid:items.id})"><img width="{{imgwidthb}}" height="{{imgheghtb}}" ng-src="{{items.imageurl}}"></div>
        <div ng-if="imagesb==''" style="cursor:pointer" class="swiper-slide"><img width="{{imgwidthb}}" height="{{imgheghtb}}" ng-src="{{defaultimg}}"></div>
    </div>
    <!-- Add Pagination -->
    <div ng-if="isaginationb ===1 && imagesb !=''" class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div ng-if="isarrowsb === 1 && imagesb !=''" class="swiper-button-next"></div>
    <div ng-if="isarrowsb === 1 && imagesb !=''" class="swiper-button-prev"></div>
</div>
