<link rel="stylesheet" href="/common/css/button/buttonS.css">
<link rel="stylesheet" href="/common/css/uploader/uploader-a1.css">
<div class="container">
    <!-- 组件 lj_uploader-a-1 start -->
    <h3><b>样式型号：</b> lj_uploader-a-1</h3>
    <p><a href="/zip/ljUploader/ljUploaderA1.zip"  download="ljUploaderA1.zip">点击下载</a></p>
    <lj_uploader-a-1 img-url='imgUrl' new_img_url="newImgUrl" old_img_name="oldImgName" uploade_err="uploadeErr"></lj_uploader-a-1>
    <br/>
    <button ng-click="saveA1()">保存</button>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj_uploader-a-1 img-url='imgUrl' new_img_url="newImgUrl" old_img_name="oldImgName" uploade_err="uploadeErr">&lt;/lj_uploader-a-1>
</pre>
    <!-- 组件 lj_uploader-a-1 end -->
    <h5><b>组件说明：</b></h5>
<pre>
    1.img-url 原始图片地址
    2.new_img_url 上传图片的url
    3.old_img_name 旧图片名称
    4.uploade_err 上传图片错误提示信息
    5.saveA1 辅助按钮
</pre>
</div>