<link rel="stylesheet" href="/common/css/button/buttonS.css">
<link rel="stylesheet" href="/common/css/uploader/uploader-b1.css">
<!-- 多图片上传的js -->
<script type="text/javascript" src="/common/js/jquery.wallform.js"></script>
<div class="container">
    <!-- 组件 lj_uploader-b-1 start -->
    <h3><b>样式型号：</b> lj_uploader-b-1</h3>
    <p><a href="/zip/ljUploader/ljUploaderB1.zip"  download="ljUploaderB1.zip">点击下载</a></p>
    <lj_uploader-b-1 already_img="alreadyImg" img_name="imgName" img_names="imgNames" upload_url="uploadUrl" delid="delid" del_img="delImg(id,imgName,imgUrl)"></lj_uploader-b-1>
    <br/>
    <button ng-click="saveB1()">保存</button>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj_uploader-b-1 already_img="alreadyImg" img_name="imgName" img_names="imgNames" upload_url="uploadUrl" delid="delid" del_img="delImg(id,imgName,imgUrl)">&lt;/lj_uploader-b-1>
</pre>
    <!-- 组件 lj_uploader-b-1 end -->
    <h5><b>组件说明：</b></h5>
<pre>
    1.already_img 进入页面原始图片数组
    2.img_name 上传成功图片的名称
    3.img_names 所有上传成功的图片组成的图片名称数组
    4.upload_url 上传成功图片的url
    5.delid 要删除的图片id
    6.del_img 点击原始图片上面的删除时触发的方法
    7.saveB1 保存按钮为辅助按钮
</pre>
</div>