    <link rel="stylesheet" href="/common/css/page/paging-a1.css"> <!-- 分页a1 样式 -->
    <link rel="stylesheet" href="/common/css/page/paging-b1.css"> <!-- 分页b1 样式 -->
    <link rel="stylesheet" href="/common/css/page/paging-c1.css"> <!-- 分页c1 样式 -->
    <link rel="stylesheet" href="/common/css/page/paging-d1.css"> <!-- 分页d1 样式 -->
<div class="container">
    <!-- 组件 lj-paging-a-1 start -->
    <h3><b>样式型号：</b> lj-paging-a-1</h3>
    <p><a href="/zip/ljPage/ljPagingA1.zip"  download="ljPagingA1.zip">点击下载</a></p>
    <lj-paging-a-1 count='countA' limit='limitA' offset='offsetA' ljf='goPageA(data)'></lj-paging-a-1>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;count='countA' limit='limitA' offset='offsetA' ljf='goPageA(data)' &lt;/lj-paging-a-1>
</pre>
<h5><b>组建说明：</b></h5>
<pre>
    1.count 变量 总条数
    2.limit 变量 每页显示条数
    3.offset 变量 偏移量 默认 0 显示第一页
    4.ljf 绑定 点击按钮方法
    5.此分页组件 最多显示 7页 且无法更改
</pre>
    <!-- 组件 lj-paging-a-1 end -->

    <!-- 组件 lj-paging-b-1 start -->
    <h3><b>样式型号：</b> lj-paging-b-1</h3>
    <p><a href="/zip/ljPage/ljPagingB1.zip"  download="ljPagingB1.zip">点击下载</a></p>
    <lj-paging-b-1 count='countB' limit='limitB' offset='offsetB' ljf='goPageB(data)'></lj-paging-b-1>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;count='countB' limit='limitB' offset='offsetB' ljf='goPageB(data)'> &lt;/lj-paging-b-1>
</pre>
<h5><b>组建说明：</b></h5>
<pre>
    1.count 变量 总条数
    2.limit 变量 每页显示条数
    3.offset 变量 偏移量 默认 0 显示第一页
    4.ljf 绑定 点击按钮方法
    5.此分页组件 最多显示 11页 且无法更改
</pre>
    <!-- 组件 lj-paging-b-1 end -->

    <!-- 组件 lj-paging-c-1 start -->
    <h3><b>样式型号：</b> lj-paging-c-1</h3>
    <p><a href="/zip/ljPage/ljPagingC1.zip"  download="ljPagingC1.zip">点击下载</a></p>
    <lj-paging-c-1 count='countC' limit='limitC' offset='offsetC' ljf='goPageC(data)'></lj-paging-c-1>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;count='countC' limit='limitC' offset='offsetC' ljf='goPageC(data)'> &lt;/lj-paging-c-1>
</pre>
<h5><b>组建说明：</b></h5>
<pre>
    1.count 变量 总条数
    2.limit 变量 每页显示条数
    3.offset 变量 偏移量 默认 0 显示第一页
    4.ljf 绑定 点击按钮方法
    5.此分页组件 最多显示 7页 且无法更改
</pre>
<!-- 组件 lj-paging-c-1 end -->
<!-- 组件 lj-paging-d-1 start -->
<h3><b>样式型号：</b> lj-paging-d-1</h3>
<p><a href="/zip/ljPage/ljPagingD1.zip"  download="ljPagingD1.zip">点击下载</a></p>
<lj-paging-d-1 currentpage="currentPage" count="countD" ljf="toSearch(data)" ></lj-paging-d-1>
<h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-paging-d-1 currentpage="currentPage" count="countD" ljf="toSearch(data)"> &lt;/lj-paging-d-1>
</pre>    
    <h5><b>组件说明：</b></h5>
<pre>
    <b>适用于只有上一页下一页的分页</b> 
    1.currentpage 变量 当前页
    2.count 变量 总条数
    3.ljf 绑定 点击上一页下一页的方法 
</pre>
<!-- 组件 lj-input-i-1 end -->
</div>