<link rel="stylesheet" href="/common/css/page/paging-c1.css">
<link rel="stylesheet" href="/common/css/page/paging-d1.css">
<div class="container">
    <!-- 组件 lj-paging-c-1 start -->
    <h3><b>样式型号：</b> lj-paging-c-1</h3>
    <p><a href="/zip/ljPage/ljPageC1.zip"  download="ljPageC1.zip">点击下载</a></p>
    <lj-paging-c-1></lj-paging-c-1>
    <h5><b>组件标签：</b></h5>
    <pre>
    &lt;lj-paging-c-1> &lt;/lj-paging-c-1>
    </pre>    
        <h5><b>组件说明：</b></h5>
    <pre>
        <b>aaaa</b>     
    </pre>
    <!-- 组件 lj-paging-c-1 end -->

    <!-- 组件 lj-paging-d-1 start -->
    <h3><b>样式型号：</b> lj-paging-d-1</h3>
    <p><a href="/zip/ljPage/ljPageD1.zip"  download="ljPageD1.zip">点击下载</a></p>
    <lj-paging-d-1></lj-paging-d-1>
    <h5><b>组件标签：</b></h5>
    <pre>
    &lt;lj-paging-d-1 > &lt;/lj-paging-d-1>
    </pre>    
        <h5><b>组件说明：</b></h5>
    <pre>
        <b>适用于只有上一页下一页的分页</b>     
    </pre>
    <!-- 组件 lj-input-i-1 end -->
</div>