<link rel="stylesheet" href="/common/laydate/need/laydate.css">
<link rel="stylesheet" href="/common/css/datepicker/datepicker.css">
<script src="/common/laydate/laydate.js"></script>
<div class="container">
    <!-- 组件 lj-datepicker-b-1 start -->
    <h3><b>样式型号：</b> lj-datepicker-b-1</h3>
    <p><a href="/zip/ljDatepicker/ljDatepickerB1.zip"  download="ljDatepickerB1.zip">点击下载</a></p>
        <lj-datepicker-b-1 ischeckt="ischeckt" istime='true' format="YYYY-MM-DD hh:mm:ss" max-date="2019-04-29" min-date="2017-04-06" timeerrort="timeerrort" ljtvalue='ljtvalue' timeskin="molv"></lj-datepicker-b-1>
        <br/>
        <button ng-click="clickTime()"> 提交</button>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-datepicker-b-1 ischeckt="ischeckt" istime='true' format="YYYY-MM-DD hh:mm:ss" max-date="2017-04-29" min-date="2017-04-06" timeerrort="timeerrort" ljtvalue='ljtvalue' timeskin="molv">&lt;/lj-datepicker-b-1>
</pre> 
<h5><b>组件说明：</b></h5>
<pre>
    1.ischeckt 验证时间控件的input框是否可以为空,1:验证 其他则视为不验证
    2.istime 是否开启时分秒的时间选择true：开启 false：不开启 
    3.format 日期格式 YYYY-MM-DD YYYY-MM-DD hh:mm:ss，空则视为：YYYY-MM-DD
    4.max-date 日期控件内最大时间，如果为空，则视为不设置最大时间
    5.min-date 日期控件内最小时间，如果为空，则视为不设置最小时间
    6.timeerrort 错误提示信息
    7.ljtvalue 已选择的时间
    8.timeskin 时间控件皮肤颜色,设置只需要在参数里面写对应颜色的拼音，不设置为默认颜色：浅灰。(default:浅灰 danlan：淡蓝 dahong：大红 molv：墨绿 qianhuang：浅黄 yahui：雅灰 yalan：雅蓝) 
    9.button 提交按钮为辅助按钮
</pre>
<!-- 组件 lj-datepicker-b-1 end -->
</div>
<div class="container">
    <!-- 组件 lj-datepicker-b-2 start -->
    <h3><b>样式型号：</b> lj-datepicker-b-2</h3>
    <p><a href="/zip/ljDatepicker/ljDatepickerB2.zip"  download="ljDatepickerB2.zip">点击下载</a></p>
        <lj-datepicker-b-2 ischeckend="ischeckend" istimeend='true' formatend="YYYY-MM-DD hh:mm:ss" max-date-end="2019-04-29" min-date-end="2017-04-06" timeerrorend="timeerrorend" ljtvalueend='ljtvalueend' timeskinend="molv"></lj-datepicker-b-2>
        <br/>
        <button ng-click="clickTimeb2()"> 提交</button>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-datepicker-b-2 ischeckend="ischeckend" istimeend='true' formatend="YYYY-MM-DD hh:mm:ss" max-date-end="2017-04-29" min-date-end="2017-04-06" timeerrorend="timeerrorend" ljtvalueend='ljtvalueend' timeskinend="molv">&lt;/lj-datepicker-b-2>
</pre> 
<h5><b>组件说明：</b></h5>
<pre>
    1.ischeckend 验证时间控件的input框是否可以为空,1:验证 其他则视为不验证
    2.istimeend 是否开启时分秒的时间选择true：开启 false：不开启 
    3.formatend 日期格式 YYYY-MM-DD YYYY-MM-DD hh:mm:ss，空则视为：YYYY-MM-DD
    4.max-date-end 日期控件内最大时间，如果为空，则视为不设置最大时间
    5.min-date-end 日期控件内最小时间，如果为空，则视为不设置最小时间
    6.timeerrorend 错误提示信息
    7.ljtvalueend 已选择的时间
    8.timeskinend 时间控件皮肤颜色,设置只需要在参数里面写对应颜色的拼音，不设置为默认颜色：浅灰。(default:浅灰 danlan：淡蓝 dahong：大红 molv：墨绿 qianhuang：浅黄 yahui：雅灰 yalan：雅蓝) 
    9.button 提交按钮为辅助按钮
    10.此组件为有结束时间的时候使用
</pre>
<!-- 组件 lj-datepicker-b-2 end -->
</div>
<div class="container">
    <!-- 组件 lj-datepicker-b-3 start -->
    <h3><b>样式型号：</b> lj-datepicker-b-3</h3>
    <p><a href="/zip/ljDatepicker/ljDatepickerB3.zip"  download="ljDatepickerB3.zip">点击下载</a></p>
        <lj-datepicker-b-3 starttimename="开始日期：" endtimename="截止日期：" ischeckb3="ischeckb3" istimeb3='true' formatb3="YYYY-MM-DD hh:mm:ss" max-date-b3="2019-04-29" min-date-b3="2017-04-06" timeerrorb3="timeerrorb3" startvalueb3='startvalueb3' endvalueb3="endvalueb3" timeskinb3="molv" foldline="true"></lj-datepicker-b-3>
        <br/>
        <button ng-click="clickTimeb3()"> 提交</button>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-datepicker-b-3 starttimename="开始日期" endtimename="截止日期" ischeckb3="ischeckb3" istimeb3='true' formatb3="YYYY-MM-DD hh:mm:ss" max-date-b3="2017-04-29" min-date-b3="2017-04-06" timeerrorb3="timeerrorb3" startvalueb3='startvalueb3' endvalueb3="endvalueb3" timeskinb3="molv" foldline="true">&lt;/lj-datepicker-b-3>
</pre> 
<h5><b>组件说明：</b></h5>
<pre>
    1.starttimename 开始日期的名称，如果为空，则视为不设置名称
    2.endtimename 结束日期的名称，如果为空，则视为不设置名称
    3.ischeckb3 验证时间控件的input框是否可以为空,1:验证 其他则视为不验证
    4.istimeb3 是否开启时分秒的时间选择true：开启 false：不开启 
    5.formatb3 日期格式 YYYY-MM-DD YYYY-MM-DD hh:mm:ss，空则视为：YYYY-MM-DD
    6.max-date-b3 日期控件内最大时间，如果为空，则视为不设置最大时间
    7.min-date-b3 日期控件内最小时间，如果为空，则视为不设置最小时间
    8.timeerrorb3 错误提示信息
    9.startvalueb3 已选择的开始时间
    10.endvalueb3 已选择的结束时间
    11.timeskinb3 时间控件皮肤颜色,设置只需要在参数里面写对应颜色的拼音，不设置为默认颜色：浅灰(default:浅灰 danlan：淡蓝 dahong：大红 molv：墨绿 qianhuang：浅黄 yahui：雅灰 yalan：雅蓝) 
    12.foldline 日期控件的显示形式 foldline="true"代表开始日期和截止日期折行显示
    13.button提交按钮为辅助按钮
</pre>
<!-- 组件 lj-datepicker-b-3 end -->
</div>