
<link rel="stylesheet" href="/common/css/datepicker/datepicker.css">
<div class="container">
    <!-- 组件 lj-datepicker-a-1 start -->
    <h3><b>样式型号：</b> lj-datepicker-a-1</h3>
    <p><a href="/zip/ljDatepicker/ljDatepickerA1.zip"  download="ljDatepickerA1.zip">点击下载</a></p>
        <lj-datepicker-a-1 datevalue="inputtime" ischeck="ischeck" timeerror="timeerror"></lj-datepicker-a-1>
        <button ng-click="click()"> 提交</button>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-datepicker-a-1 datevalue="inputtime" ischeck="ischeck" timeerror="timeerror">&lt;/lj-datepicker-a-1>
</pre>    
    <h5><b>组件说明：</b></h5>
<pre>
    1.datevalue 表示input框内的时间
    2.ischeck 验证时间控件的input框是否可以为空,1:验证 其他则视为不验证
    3.timeerror 时间控件错误提示信息
    4.inputtime 在控制器里可以设置默认值，不设置为空
    5.提交按钮为辅助按钮，不在组件之内
</pre>
<!-- 组件 lj-datepicker-a-1 end -->
</div>

<div class="container">
    <!-- 组件 lj-datepicker-a-2 start -->
    <h3><b>样式型号：</b> lj-datepicker-a-2</h3>
    <p><a href="/zip/ljDatepicker/ljDatepickerA2.zip"  download="ljDatepickerA2.zip">点击下载</a></p>
        <lj-datepicker-a-2 datevalueb="inputtimeb" ischeckb="ischeckb" timeerrorb="timeerrorb"></lj-datepicker-a-2>
        <button ng-click="clickb()"> 提交</button>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-datepicker-a-2 datevalueb="inputtimeb" ischeckb="ischeckb" timeerrorb="timeerrorb">&lt;/lj-datepicker-a-2>
</pre>    
    <h5><b>组件说明：</b></h5>
<pre>
    1.datevalueb 表示input框内的时间
    2.ischeckb 验证时间控件的input框是否可以为空,1:验证 其他则视为不验证
    3.timeerrorb 时间控件错误提示信息
    4.inputtime 在控制器里可以设置默认值，不设置为空
    5.提交按钮为辅助按钮，不在组件之内
</pre>
<!-- 组件 lj-datepicker-a-2 end -->
</div>

<div class="container">
    <!-- 组件 lj-datepicker-a-3 start -->
    <h3><b>样式型号：</b> lj-datepicker-a-3</h3>
    <p><a href="/zip/ljDatepicker/ljDatepickerA3.zip"  download="ljDatepickerA2.zip">点击下载</a></p>
        <lj-datepicker-a-3 datevaluec="inputtimec" ischeckb="ischeckc" timeerrorc="timeerrorc"></lj-datepicker-a-3>
        <button ng-click="clickc()"> 提交</button>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-datepicker-a-3 datevaluec="inputtimec" ischeckb="ischeckc" timeerrorc="timeerrorc">&lt;/lj-datepicker-a-3>
</pre>    
    <h5><b>组件说明：</b></h5>
<pre>
    1.datevaluec 表示input框内的时间
    2.ischeckc 验证时间控件的input框是否可以为空,1:验证 其他则视为不验证
    3.timeerrorc 时间控件错误提示信息
    4.inputtime 在控制器里可以设置默认值，不设置为空
    5.提交按钮为辅助按钮，不在组件之内
</pre>
<!-- 组件 lj-datepicker-a-3 end -->
</div>