
/*导航切换组件样式--------start*/
.commodity_ul{
	position: fixed;
	z-index:99;
	width: 100%;
	display: flex;
	flex-wrap:wrap;
	justify-content:center;
}
.commodity_ul li{
	width:19.9%;
	text-align: center;
	background: #d5efc9;
}
.commodity_ul li a{
	padding:0.3rem 0;
	color:#555;
	font-size: 0.3rem;
	border:none;
}
.commodity_ul .commodity_active{
	background: #f4f4f4;
	border-bottom: 1px solid #529034;
}
.commodity_ul .commodity_active a{
	color:#529034;
}
.commodity_ul li a:hover,.commodity_ul li a:focus{
	background:transparent;
	border:none;	
}
.commodityClassify{
	padding-top:1.03rem;
}
.classify{
	padding-top:0.3rem;
	margin:0;
}

.classify dd{
	display: inline-block;			
}
.classify dt{
	color: #555;
	margin:0;
	padding-bottom: 0.3rem;
	font-size: 0.3rem;
	font-weight: 500;
}
.classify dd a{
	display: inline-block;
	color:#666;
	padding:0.3rem 0.2rem;
	background: #f4f4f4;
	border-radius: 4px;
	font-size: 0.25rem;
	margin-right:0.2rem;
	margin-bottom: 0.3rem;
	border:1px solid #f4f4f4;
}
.classify dd a:hover{
	text-decoration: none;
}
.classify dd a.classify_active{
	border:1px solid #529034;
	background: #f8fff5;
	color:#529034;
	text-decoration: none;
}
/*导航切换组件样式--------end*/
/*返回到顶部样式----start*/
#go_top{
	position:fixed; 
	right: 0;
	bottom:0.5rem;
	text-align: center;
} 
/*返回到顶部样式----end*/