<link rel="stylesheet" href="/common/css/button/buttonS.css">
<link rel="stylesheet" href="/common/css/input/input.css">
<link rel="stylesheet" href="/common/css/popup/popup-e1.css">
<div class="container">
    <!-- 组件 lj_popup-a-1 start -->
    <h3><b>样式型号：</b> lj_popup-a-1</h3>
    <p><a href="/zip/ljPopup/ljPopupA1.zip"  download="ljPopupA1.zip">点击下载</a></p>
        <lj_popup-a-1 popup-a1-title="标题1" popup-a1-name1="名称" popup-a1-name2="性别" popup-a1-name3="爱好" popup-a1-name4="地址" popup-a1-holder1="请输入10个字以内的名称" popup-a1-holder2="请输入性别" popup-a1-holder3="请输入一个爱好" popup-a1-holder4="请输入地址" popup-a1-value1="popupa1V1" popup-a1-value2="popupa1V2" popup-a1-value3="popupa1V3" popup-a1-value4="popupa1V4" popup-msg="popupmsg" ljf="popupa1sub()" shows="4"></lj_popup-a-1>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj_popup-a-1 popup-a1-title="标题1" popup-a1-name1="名称" popup-a1-name2="性别" popup-a1-name3="爱好" popup-a1-name4="地址" popup-a1-holder1="请输入10个字以内的名称" popup-a1-holder2="请输入性别" popup-a1-holder3="请输入一个爱好" popup-a1-holder4="请输入地址" popup-a1-value1="popupa1V1" popup-a1-value2="popupa1V2" popup-a1-value3="popupa1V3" popup-a1-value4="popupa1V4" popup-msg="popupmsg" ljf="popupa1sub()" shows="4">&lt;/lj_popup-a-1>
</pre>
    <!-- 组件 lj-label-a-1 end -->
    <h5><b>组件说明：</b></h5>
<pre>
    1.popup-a1-title 弹出层标题名称
    2.popup-a1-name1 第一个输入框input1框的名称
    3.popup-a1-name2 第二个输入框input2框的名称
    4.popup-a1-name3 第三个输入框input3框的名称
    5.popup-a1-name4 第四个输入框input4框的名称
    6.popup-a1-holder1 第一个输入框里默认提示文字
    7.popup-a1-holder2 第二个输入框里默认提示文字
    8.popup-a1-holder3 第三个输入框里默认提示文字
    9.popup-a1-holder4 第四个输入框里默认提示文字
    10.popup-a1-value1 第一个输入框输入的文字
    11.popup-a1-value2 第二个输入框输入的文字
    12.popup-a1-value3 第三个输入框输入的文字
    13.popup-a1-value4 第四个输入框输入的文字
    14.popup-msg 错误提示信息
    15.ljf 点击确定触发的方法
    16.shows 设置显示几个input框,1-4,最大4个
    注意：以上输入框最多四个,输入框名称和输入框里默认提示文字均为变量，可设置可不设置，也可以根据需要自行设置值。
</pre>
</div>