<link rel="stylesheet" href="/common/css/product/productA1.css">
<div class="container">
    <!-- 组件 lj-product-a-1 start -->
    <h3><b>样式型号：</b> lj-product-a-1</h3>
    <p><a href="/zip/ljProduct/ljProductA1.zip"  download="ljProductA1.zip">点击下载</a></p>
    <lj-product-a-1 product='product' prowidth='20%' proheight='2.8rem' altimg='/common/images/sel_card.jpg' producturl='/app/#/buttonA'></lj-product-a-1>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-product-a-1 product='product' prowidth='20%' proheight='2.8rem' altimg='/common/images/sel_card.jpg' producturl='/app/#/buttonA'>&lt;/lj-product-a-1>
</pre>
    <!-- 组件 lj-product-a-1 end -->
    <h5><b>组件说明：</b></h5>
<pre>
    1.product 商品信息
    2.prowidth 商品的宽
    3.proheight 商品的高
    4.altimg 没有商品图片时默认图片
    5.producturl 点击商品跳转链接地址
</pre>
</div>
<link rel="stylesheet" href="/common/css/product/productA2.css">
<div class="container">
    <!-- 组件 lj-product-a-2 start -->
    <h3><b>样式型号：</b> lj-product-a-2</h3>
    <p><a href="/zip/ljProduct/ljProductA2.zip"  download="ljProductA2.zip">点击下载</a></p>
    <lj-product-a-2 product='product' prowidth='100%' proheight='100%' altimg='/common/images/not_product.png' producturl='/app/#/buttonA/'></lj-product-a-2>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-product-a-2 product='product' prowidth='100%' proheight='100%' altimg='/common/images/not_product.png' producturl='/app/#/buttonA/'>&lt;/lj-product-a-2>
</pre>
    <!-- 组件 lj-product-a-2 end -->
    <h5><b>组件说明：</b></h5>
<pre>
    1.product 商品信息
    2.prowidth 商品的宽
    3.proheight 商品的高
    4.altimg 没有商品图片时默认图片
    5.producturl 点击商品跳转链接地址
</pre>
</div>
<div class="container">
    <!-- 组件 lj-product-a-3 start -->
    <h3><b>样式型号：</b> lj-product-a-3</h3>
    <p><a href="/zip/ljProduct/ljProductA3.zip"  download="ljProductA3.zip">点击下载</a></p>
    <lj-product-a-3 product='product' prowidth='100%' proheight='90%' altimg='/common/images/sel_card.jpg' producturl='/app/#/buttonA' activityimg="/common/images/discount.png" activitywidth="20%"></lj-product-a-3>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-product-a-3 product='product' prowidth='100%' proheight='100%' altimg='/common/images/sel_card.jpg' producturl='/app/#/buttonA' activityimg="/common/images/discount.png" activitywidth="40%">&lt;/lj-product-a-3>
</pre>
    <!-- 组件 lj-product-a-3 end -->
    <h5><b>组件说明：</b></h5>
<pre>
    1.product 商品信息
    2.prowidth 商品的宽
    3.proheight 商品的高
    4.altimg 没有商品图片时默认图片
    5.producturl 点击商品跳转链接地址
    6.activityimg 商品图片右上角的活动图片
    7.activitywidth 商品图片右上角的活动图片的宽
</pre>
</div>
<div class="container">
    <!-- 组件 lj-product-a-4 start -->
    <h3><b>样式型号：</b> lj-product-a-4</h3>
    <p><a href="/zip/ljProduct/ljProductA4.zip"  download="ljProductA4.zip">点击下载</a></p>
    <lj-product-a-4 product='product' prowidth='100%' proheight='100%' altimg='/common/images/sel_card.jpg' producturl='/app/#/buttonA' activityimg="/common/images/new_product.png" activitywidth="20%"></lj-product-a-4>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-product-a-4 product='product' prowidth='100%' proheight='100%' altimg='/common/images/sel_card.jpg' producturl='/app/#/buttonA' activityimg="/common/images/new_product.png" activitywidth="40%">&lt;/lj-product-a-4>
</pre>
    <!-- 组件 lj-product-a-4 end -->
    <h5><b>组件说明：</b></h5>
<pre>
    1.product 商品信息
    2.prowidth 商品的宽
    3.proheight 商品的高
    4.altimg 没有商品图片时默认图片
    5.producturl 点击商品跳转链接地址
    6.activityimg 商品图片右上角的活动图片
    7.activitywidth 商品图片右上角的活动图片的宽
</pre>
</div>