<link rel="stylesheet" href="/common/css/textarea/textarea-a1-s.css">
<div class="container">
    <!-- 组件 lj-textarea-a-1-s start -->
    <h3><b>样式型号：</b> lj-textarea-a-1-s</h3>
    <p><a href="/zip/ljTextarea/ljTextareaA1S.zip"  download="ljTextareaA1S.zip">点击下载</a></p>
        <lj-textarea-a-1-s ljl="300" ljt="a1stext" ischeck="1"></lj-textarea-a-1-s> 
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-textarea-a-1-s ljl="300" ljt="a1stext" ischeck="1">&lt;/lj-textarea-a-1-s>
</pre>    
    <h5><b>组件说明：</b></h5>
<pre>
    1.ljl 文本框允许输入的最大文字个数为300，可以自行设置
    2.ljt 文本框默认显示的文字，一般是从数据库取出，用于修改的
    3.ischeck 是否对文本框进行非空验证，1：需要验证，其他则视为不需要验证
</pre>
<!-- 组件 lj-textarea-a-1-s end -->
</div>

<div class="container">
    <!-- 组件 lj-textarea-a-1-m start -->
    <h3><b>样式型号：</b> lj-textarea-a-1-m</h3>
    <p><a href="/zip/ljTextarea/ljTextareaA1M.zip"  download="ljTextareaA1M.zip">点击下载</a></p>
        <lj-textarea-a-1-m ljl="600" ljt="a1mtext" ischeck="1"></lj-textarea-a-1-m>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-textarea-a-1-m ljl="600" ljt="a1mtext" ischeck="1">&lt;/lj-textarea-a-1-m>
</pre>    
    <h5><b>组件说明：</b></h5>
<pre>
    1.ljl 文本框允许输入的最大文字个数为600，可以自行设置
    2.ljt 文本框默认显示的文字，一般是从数据库取出，用于修改的
    3.ischeck 是否对文本框进行非空验证，1：需要验证，其他则视为不需要验证
</pre>
<!-- 组件 lj-textarea-a-1-m end -->
</div>

<div class="container">
    <!-- 组件 lj-textarea-a-1-l start -->
    <h3><b>样式型号：</b> lj-textarea-a-1-l</h3>
    <p><a href="/zip/ljTextarea/ljTextareaA1L.zip"  download="ljTextareaA1L.zip">点击下载</a></p>
        <lj-textarea-a-1-l ljl="800" ljt="a1ltext" ischeck="1"></lj-textarea-a-1-l>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-textarea-a-1-l ljl="800" ljt="a1ltext" ischeck="1">&lt;/lj-textarea-a-1-l>
</pre>    
    <h5><b>组件说明：</b></h5>
<pre>
    1.ljl 文本框允许输入的最大文字个数为800，可以自行设置
    2.ljt 文本框默认显示的文字，一般是从数据库取出，用于修改的
    3.ischeck 是否对文本框进行非空验证，1：需要验证，其他则视为不需要验证
</pre>
<!-- 组件 lj-textarea-a-1-m end -->
</div>


