<link rel="stylesheet" href="/common/css/textarea/textarea-b1.css">
<div class="container">
    <!-- 组件 lj-textarea-b-1 start -->
    <h3><b>样式型号：</b> lj-textarea-b-1</h3>
    <p><a href="/zip/ljTextarea/ljTextareaB1.zip"  download="ljTextareaB1.zip">点击下载</a></p>
        <lj-textarea-b-1 ljl="20" ljt="ljttextb1" msgb='msgb1'></lj-textarea-b-1> 
        <br/>
         <button type="button"  class="btn btn-primary btn-md" ng-click='myFunb1()'>
        保存</button>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-textarea-b-1 ljl="10" ljt="ljttextb1" msgb='msgb1'>&lt;/lj-textarea-b-1>
</pre>    
    <h5><b>组件说明：</b></h5>
<pre>
    1.ljl 文本框允许输入的最大文字个数，可以自行设置
    2.ljt 文本框默认显示的文字，一般是从数据库取出，用于修改的
    3.msgb 文本框错误提示信息
    4.保存按钮为辅助按钮
</pre>
<!-- 组件 lj-textarea-b-1 end -->
</div>