<link rel="stylesheet" href="/common/css/textarea/textarea-c1.css">
<div class="container">
    <!-- 组件 lj-textarea-c-1 start -->
    <h3><b>样式型号：</b> lj-textarea-c-1</h3>
    <p><a href="/zip/ljTextarea/ljTextareaC1.zip"  download="ljTextareaC1.zip">点击下载</a></p>
    <p>
        <div class="ueditor" ng-model="content" config="ueConfig" ></div>
        <br/>
         <button type="button"  class="btn btn-primary btn-md" ng-click='saveContent()'>保存</button>
    <h5><b>组件标签：</b></h5>
        <pre>
            &lt;div class="ueditor" ng-model="content" config="ueConfig" >&lt;/div>
        </pre>
 
    <h5><b>组件说明：</b></h5>
<pre>
    1.  class="ueditor"  固定class 识别文本编辑器
    2.  ng-model="content" 绑定 文本内容
    3.  ueConfig 变量 配置项目 
    4.  图片路径的设置  common/ueditor/php/config.json  
</pre>
<!-- 组件 lj-textarea-c-1 end -->
</div>