.paging-a1 a,.paging-a1:hover{
	text-decoration: none;
	color: #333;
	display: inline-block;
}
.paging-sum{
	color: #278CDE;
	margin:0 4px;
}
.home-page-a1{
    text-align: center;
    margin: 0 10px 0 6px;
    background: url(../../images/button.gif);
    width: 38px;
    height: 22px;
    line-height: 22px;
    color:#333;
    cursor:pointer;
}
.paging-a1-prev{
	margin-right:7px;
            cursor:pointer;
}
.paging-a1-default{
	padding:1px 7px;
	color: #333;
	margin-right: 7px;
	background: #D6D6D6;
	border-radius: 3px;
            cursor:pointer;
}
.paging-a1-now{
	background:#258BDD;
}
.paging-a1-right{
    cursor:pointer;
}
.last-page-a1{
    text-align: center;
    margin: 0 6px 0 10px;
    background: url(../../images/button.gif);
    width: 38px;
    height: 22px;
    line-height: 22px;
    color:#333;
    cursor:pointer;
}
.paging-a1-input{
	width: 30px;
    height: 20px;
    line-height: 20px;
    border: #ABADB3 solid 1px;
    text-align: center;
    margin-right: 6px;
    vertical-align: middle;
}
.paging-a1-go{
	width: 29px;
    height: 22px;
    background: url(../../images/member_29.jpg);
    line-height: 22px;
    text-align: center;
    vertical-align: middle;
    cursor:pointer;
}