<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>IDP教育集团图书仓库管理系统</title>
</head>
<frameset rows="76,*" border="0">
    <frame src="__CONTROLLER__/top" id="top" noresize="noresize" marginheight="100%"/>
    <frameset cols="170,*" border="0">
        <frame src="__CONTROLLER__/left" id="left" noresize="noresize"/>
        <frame src="__CONTROLLER__/main" id="right" name="mainFrame" noresize="noresize"/>
    </frameset>
</frameset>
<noframes>
<body>
</body>
</noframes>
</html>
