<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8"> 
    <title>左侧导航</title>   
    <link href="/common/css/bootstrap.css" type="text/css" rel="stylesheet" /> 
</head>
<style type="text/css">
body{
    margin:0;
    padding:0;
}
    .nav{
        width: 100%;
        background: #FFF;
 
    }
.nav p{
        height: 40px;
        line-height: 40px;
        background: #F8F8F8;
        font-size: 18px;
}
.nav p{
        height: 40px;
        line-height: 40px;
}
.nav p a{
    position: relative;
    display: block;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

</style>
<body >
<div class="nav">

<p><a href="/ng/#/classify" class="list-group-item" target="mainFrame" >分类管理</a> </p>
<p><a href="" class="list-group-item" target="mainFrame" >图书管理</a> </p>
<p><a href="" class="list-group-item" target="mainFrame" >权限管理</a> </p>
<p><a href="" class="list-group-item" target="mainFrame" >销售管理</a> </p>


</div>
</body>
<script>
</script>
</html>