<link rel="stylesheet" href="/common/css/ljlist.css">
<div class="container">
    <!-- 组件 lj-list-demo start -->
    <h5><b>列表组件：</b> lj-list-demo</h5>
    <p><a href="/zip/ljlist/ljListDemo.zip"  download="ljListDemo.zip">点击下载</a></p>
        <lj-list-demo titles="titleArr" lists="listArr"></lj-list-demo>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-list-demo titles="titleArr" lists="listArr">&lt;/lj-list-demo>
</pre>
    <!-- 组件 lj-list-demo end -->
    <h5><b>组件说明：</b></h5>
<pre>
    1.其他字段均居左，销售额居右；数据为空，用-----代替；
    2.数据过长，自动撑开表格高度；
    3.展位号字段字体为蓝色，用来表明为特殊字段；
    4.列表下方有统计栏：总计用来统计数据总条数；销售总额用来统计销售额字段的所有金额相加总数；
</pre>
</div>

  