<link rel="stylesheet" href="/common/css/button/buttonS.css">
<link rel="stylesheet" href="/common/css/list/listE1.css">
<div class="container">
    <!-- 组件 lj-button-d-1  start -->
    <h3><b>样式型号：</b> lj-list-d-1</h3>
    <p><a href="/zip/ljList/ljListE1.zip"  download="ljListE1.zip">点击下载</a></p>

<lj-button-c-1-b ljn="确认(辅助)" ljd="disabledSign" ljf="checkAll()"></lj-button-c-1-b>
<br>
<br>
<lj-list-e-1 titles='titleArr' lists='listArr' operations='operations'  limit='10' iscomplete='1' fun1='fun1(fs)' fun2='fun2(fs)' fun3='fun3(fs)'  fun4='fun4(fs)' ></lj-list-e-1>
    <h5><b>组件标签：</b></h5>
<pre>
&lt;lj-list-e-1 titles='titleArr' lists='listArr' operations='operations'  limit='10' iscomplete='1' fun1='fun1(fs)' fun2='fun2(fs)' fun3='fun3(fs)'  fun4='fun4(fs)' >&lt;/lj-list-e-1> 
</pre>
    <h5><b>组件说明：</b></h5>
<pre>
    1.titles 表头信息
    2.lists 列表内容信息
    3.operations 操作信息配置
    4.fun1 对应压缩包demo.js 中 fun1方法
    5.fun2 -----
    6.fun3 -----
    7.fun4 -----
    8.所有字段均居中
    9.数据过长，自动撑开表格高度
    10.数据为空，用-----代替
    11.范围一到十五列（超出无法显示）
    12.iscomplete 是否行数补全标示
    13.limit 列表显示行数
    14.勾选后会改变 数组下标 done状态 默认 false 
</pre>
</div>
