<link rel="stylesheet" href="/common/css/list/listB1.css">
<div class="container">
    <!-- 组件 lj-list-b-1 start -->
    <h3><b>样式型号：</b> lj-list-b-1</h3>
    <p><a href="/zip/ljList/ljListB1.zip"  download="ljListB1.zip">点击下载</a></p>
        <lj-list-b-1 titles="titleArr" lists="listArr" operations="operations" limit='10' iscomplete='1' fun1='fun1(fs)' fun2="fun2(fs)" fun3='fun3(fs)' fun4="fun4(fs)"></lj-list-b-1>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-list-b-1 titles="titleArr" lists="listArr" operations="operations" limit='10' iscomplete='1'  fun1='fun1(fs)' fun2="fun2(fs)" fun3='fun3(fs)' fun4="fun4(fs)">&lt;/lj-list-b-1>
</pre>    
    <h5><b>组件说明：</b></h5>
<pre>
    1.titles 表头信息
    2.lists 列表内容信息
    3.operations 操作信息配置
    4.fun1  对应压缩包demo.js 中 fun1方法
    5.fun2  ----- 
    6.fun3  -----
    7.fun4  ----- 
    8.数据过长，自动撑开表格高度
    9.数据为空，用-----代替
    10.范围一到八列（超出八列无法显示）
    11.iscomplete 是否行数补全标示
    12.limit 列表显示行数
</pre>
<!-- 组件 lj-list-b-1 end -->
</div>