<link rel="stylesheet" href="/common/css/list/listH.css">
<div class="container-fluid">
    <!-- 组件 lj-list-h start -->
    <h3><b>样式型号：</b> lj-list-h</h3>
    <p><a href="/zip/ljlist/ljListH.zip"  download="ljListH.zip">点击下载</a></p>
    <lj-list-h inforlist='inforlist' titlewidth="30%" namewidth='66%'></lj-list-h>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-list-h inforlist='inforlist' titlewidth="30%" namewidth='66%'>&lt;/lj-list-h>
</pre>    
    <h5><b>组件说明：</b></h5>
<pre>
    1.inforlist 信息列表数据
    2.titlewidth 信息title的宽
    3.namewidth 信息name的宽
</pre>
<!-- 组件 lj-list-h end -->
</div>
