<link rel="stylesheet" href="/common/css/list/listG.css">
<div class="">
    <!-- 组件 lj-list-g start -->
    <h3><b>样式型号：</b> lj-list-g</h3>
    <p><a href="/zip/ljList/ljListG.zip"  download="ljListG.zip">点击下载</a></p>
    <lj-list-g newlist='newlist' newdetailurl='/app/#/buttonA' cutwordlen='15' topurl='/common/images/back_top.png'></lj-list-g>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-list-g newlist='newlist' newdetailurl='/app/#/buttonA' cutwordlen='15' topurl='/common/images/back_top.png'>&lt;/lj-list-g>
</pre>    
    <h5><b>组件说明：</b></h5>
<pre>
    1.newlist 新闻资讯列表数据
    2.newdetailurl 点击单条新闻跳转的链接
    3.cutwordlen 控制多少个字以后显示...
    4.topurl 返回顶部图片地址
</pre>
<!-- 组件 lj-list-g end -->
</div>
