<link rel="stylesheet" href="/common/css/list/listF.css">
<div class="">
    <!-- 组件 lj-list-f start -->
    <h3><b>样式型号：</b> lj-list-f</h3>
    <p><a href="/zip/ljList/ljListF.zip"  download="ljListF.zip">点击下载</a></p>
    <lj-list-f brandlist='brandlist' brandposition="brandposition(str)" logourl="/common/images/" brandurl="/app/#/buttonB/" defualtimg="/common/images/defualt.jpg" imgwid="60px" imgheight="60px" gotopimg='/common/images/back_top.png'></lj-list-f>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-list-f brandlist='brandlist' brandposition="brandposition(str)" logourl="/common/images/" brandurl="/app/#/buttonB/" defualtimg="/common/images/defualt.jpg" imgwid="60px" imgheight="60px" gotopimg='/common/images/back_top.png'>&lt;/lj-list-f>
</pre>    
    <h5><b>组件说明：</b></h5>
<pre>
    1.brandlist 品牌列表数据
    2.brandposition 点击英文字母触发定位该品牌的方法
    3.logourl logo图片存放的文件地址
    4.brandurl 点击一个品牌跳转的链接
    5.defualtimg 没有logo的情况下默认logo图片地址
    6.imgwid logo图片的宽
    7.imgheight logo图片的高
    8.gotopimg 返回顶部图片地址，有默认值，也可以自行设置
</pre>
<!-- 组件 lj-list-f end -->
</div>
