<link rel="stylesheet" href="/common/css/list/listC1.css">
<div class="container">
    <!-- 组件 lj-button-d-1  start -->
    <h3><b>样式型号：</b> lj-list-C-1</h3>
    <p><a href="/zip/ljList/ljListC1.zip"  download="ljListC1.zip">点击下载</a></p>
<lj-list-c-1 titles='titleArr' lists='listArr' operations='operations'  limit='10' iscomplete='1' fun1='fun1(fs)' fun2='fun2(fs)' fun3='fun3(fs)'  fun4='fun4(fs)' ></lj-list-c-1>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-list-c-1 titles='titleArr' lists='listArr' operations='operations' limit='10' iscomplete='1' fun1='fun1(fs)' fun2='fun2(fs)' fun3='fun3(fs)'  fun4='fun4(fs)' >&lt;/lj-list-c-1>
</pre>
    <h5><b>组件说明：</b></h5>
<pre>
    1.titles 表头信息
    2.lists 列表内容信息
    3.operations 操作信息配置
    4.fun1 对应压缩包demo.js 中 fun1方法
    5.fun2 -----
    6.fun3 -----
    7.fun4 -----
    8.所有字段均居左
    9.单条数据过长，超出部分中文字符省略号补充
    10.使用情况字段中已使用标识为红色，用于特殊状态标识
    11.数据为空，用-----代替
    12.鼠标移上任意行记录，行间变色
    13.图片列 图片宽50px高50px 显示失贞图片
    14.范围一到八列（超出八列无法显示）
    15.iscomplete 是否行数补全标示
    16.limit 列表显示行数
</pre>
<!-- 组件 lj-button-d-1  end -->
</div>