/*常规按钮公共样式类*/
.btn-b-m-common{
	width:98px;
	height:36px;
	line-height: 36px;
	padding:0;
	font-size: 16px;
}
.btn-b-m-common:hover,.btn-b-m-common:active,.btn-b-m-common:focus,.btn-b-m-common:visited{
	outline:0;
}
/*常规按钮蓝色样式*/
.btn-blue-m{
	background-color:#428BCA;
	border:1px solid #357EBD; 
	color:#fff;
}
.btn-blue-m:hover,.btn-blue-m:active,.btn-blue-m:focus{
	background-color: #3276B1;
	color:#fff;
}
/*常规按钮白色样式*/
.btn-white-m{
	background-color:#fff;
	border:1px solid #D1D1D1;
	color:#333;
}
.btn-white-m:hover,.btn-white-m:active,.btn-white-m:focus{
	background-color: #EBEBEB;
	color:#333;
}
/*常规按钮灰色禁用样式*/
.btn-gray-m{
	background-color:#C9C9C9;
	border:1px solid #BCBCBC;
	color:#333;

}
.btn-gray-m:hover,.btn-gray-m:active,.btn-gray-m:focus{
	background-color:#EBEBEB;
	border:1px solid #D1D1D1;
	color:#333;

}