/*小按钮公共样式类*/
.btn-c-s-common{
	width:84px;
	height:27px;
	line-height: 27px;
	padding:0;
	font-size: 14px;
}
.btn-c-s-common:hover,.btn-c-s-common:active,.btn-c-s-common:focus,.btn-c-s-common:visited{
	outline:0;
}
/*小按钮蓝色样式*/
.btn-blue-s{
	background-color:#428BCA;
	border:1px solid #357EBD; 
	color:#fff;
}
.btn-blue-s:hover,.btn-blue-s:active,.btn-blue-s:focus{
	background-color: #3276B1;
	color:#fff;
}
/*小按钮白色样式*/
.btn-white-s{
	background-color:#fff;
	border:1px solid #D1D1D1;
	color:#333;
}
.btn-white-s:hover,.btn-white-s:active,.btn-white-s:focus{
	background-color: #EBEBEB;
	color:#333;
}
/*小按钮灰色禁用样式*/
.btn-gray-s{
	background-color:#C9C9C9;
	border:1px solid #BCBCBC;
	color:#333;
}
.btn-gray-s:hover,.btn-gray-s:active,.btn-gray-s:focus{
	background-color:#EBEBEB;
	border:1px solid #D1D1D1;
	color:#333;

}