/*超大按钮公共样式类*/
.btn-a-l-common{
	width:150px;
	height:44px;
	line-height: 44px;
	padding:0;
	font-size: 18px;
}
.btn-a-l-common:hover,.btn-a-l-common:active,.btn-a-l-common:focus,.btn-a-l-common:visited{
	outline:0;
}
/*超大按钮蓝色样式*/
.btn-blue-l{
	background-color:#428BCA;
	border:1px solid #357EBD; 
	color:#fff;
}
.btn-blue-l:hover,.btn-blue-l:active,.btn-blue-l:focus{
	background-color: #3276B1;
	color:#fff;
}
/*超大按钮白色样式*/
.btn-white-l{
	background-color:#fff;
	border:1px solid #D1D1D1;
	color:#333;
}
.btn-white-l:hover,.btn-white-l:active,.btn-white-l:focus{
	background-color: #EBEBEB;
	color:#333;
}
/*超大按钮灰色禁用样式*/
.btn-gray-l{
	background-color:#C9C9C9;
	border:1px solid #BCBCBC;
	color:#333;
}
.btn-gray-l:hover,.btn-gray-l:active,.btn-gray-l:focus{
	background-color:#EBEBEB;
	border:1px solid #D1D1D1;
	color:#333;
}