<link rel="stylesheet" href="/common/css/searchbox/searchbox-a1.css">
<div class="container">
    <!-- 组件 lj-searchbox-b-1 start -->
    <h3><b>样式型号：</b> lj-searchbox-b-1</h3>
    <p><a href="/zip/ljSearchBox/ljSearchboxB1.zip"  download="ljSearchboxB1.zip">点击下载</a></p>
        <lj-searchbox-b-1 maxlen="10" ljf="b1Fun()" ljdefault="请输入..." ljd="b1Disabled" searchval="searchval"></lj-searchbox-b-1>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-searchbox-b-1 maxlen="10" ljf="b1Fun()" ljdefault="请输入..." ljd="b1Disabled">&lt;/lj-searchbox-b-1>
</pre>
    <!-- 组件 lj-searchbox-b-1 end -->
    <h5><b>组件说明：</b></h5>
<pre>
    1.maxlen用来控制搜索框允许输入的文字个数，可以自行设置;如果不设置默认允许输入100个字
    2.ljf用来控制搜索按钮的点击方法，方法名称可以自行设置
    3.ljdefault用来设置输入框默认显示文字，可以自行设置
    4.ljd控制按钮是否禁用标识，true：禁用 false：不禁用
    5.searchval搜索框的值
</pre>
</div>