<link rel="stylesheet" href="/common/css/searchbox/searchbox-a1.css">
<div class="container">
    <!-- 组件 lj-searchbox-a-1 start -->
    <h3><b>样式型号：</b> lj-searchbox-a-1</h3>
    <p><a href="/zip/ljSearchBox/ljSearchboxA1.zip"  download="ljSearchboxA1.zip">点击下载</a></p>
        <lj-searchbox-a-1 ljn="查询" maxlen="10" ljd="a1Disabled" ljf="a1Fun()" searchval="searchval"></lj-searchbox-a-1>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-searchbox-a-1 ljn="查询" maxlen="10" ljd="a1Disabled" ljf="a1Fun()">&lt;/lj-searchbox-a-1>
</pre>
    <!-- 组件 lj-searchbox-a-1 end -->
    <h5><b>组件说明：</b></h5>
<pre>
    1.ljn用来设置按钮里所显示的文字，可以自行设置
    2.maxlen用来控制搜索框允许输入的文字个数，可以自行设置;如果不设置默认允许输入100个字
    3.ljd控制按钮是否禁用标识，true：禁用 false：不禁用
    4.ljf用来控制按钮的点击方法，方法名称可以自行设置
    5.searchval搜索框的值
    6.按钮里所显示的文字个数最多为3个
</pre>
</div>