
<!-- <link rel="stylesheet" href="/common/css/navigation/datepicker.css"> -->
<div class="container">
    <!-- 组件 lj-breadcrumbtrail-a-1 start -->
    <h3><b>样式型号：</b> lj-breadcrumbtrail-a-1</h3>
    <p><a href="/zip/navigation/ljBreadCrumbtrailA1.zip"  download="ljBreadCrumbtrailA1.zip">点击下载</a></p>
        <lj-breadcrumbtrail-a-1></lj-breadcrumbtrail-a-1>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-breadcrumbtrail-a-1>&lt;/lj-breadcrumbtrail-a-1>
</pre>    
    <h5><b>组件说明：</b></h5>
<pre>
    1.
</pre>
<!-- 组件 lj-breadcrumbtrail-a-1 end -->
</div>

