<div class="container-fluid">
	<div>
		<div class="uploader-a1">
			<input type="file" name="image_file" class="upolader-file-a1" id="image_file" onchange="angular.element(this).scope().uploadImageOne()" ng-model="fileA1Value"/>
			<button type="button" class="btn btn-c-s-common btn-white-s uploader-btn-a1">上传图片</button>
			<span class="uploader-span-a1">图片大小不超过2M，仅支持bmp/png/jpeg/jpg/gif格式</span>
			<span style="color:red;display:none;margin-top:3px;" id='error'>格式错误</span>
		</div>
		<div class="uploader-images-a1">
			<img id="preview"   src="" border='0' class="uploader-img-a1"/>
			<em id="delimga1" ng-click="delaImageOne()"></em><!-- 删除按钮 -->
		</div>
	</div>
	<input type="hidden" value="{{oldImgName}}" id="imageurlo">
</div>
