.labelType-a1{
	margin:0;
	padding:0;
}
.labelType-a1 li{
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 15px;
	padding: 7px 10px 5px 30px;	
	border-radius: 6px;
	position: relative;
	font-family: "微软雅黑";
}
/****************************标签颜色---start***********************/
/*棕色*/
.taupeLabel{
	border:1px solid #963;
	color:#963;
}
/*紫色*/
.purpleLabel{
	border: 1px solid #854e9c;
    color: #854e9c;
}
/*绿色*/
.darkGreenLabel{
	border: 1px solid #3C7B5A;
    color: #3C7B5A;
}
/*红色*/
.redLabel{
	border:1px solid #8C2300;
	color:#8C2300;
}
/*蓝色*/
.blueLabel{
	border:1px solid #2F81AC;
	color:#2F81AC;
}
/****************************标签颜色---end***********************/
.labelName-a1 strong{
	padding:5px;
}
.labelName-a1 a{
	vertical-align: middle;
}
.labelEditor-a1{
	display: inline-block;
	margin-right: 5px;
	width:13px;
	height:12px;
	background: url(../../images/editor.jpg) no-repeat;
}
.labelEditor-a1:active,.labelEditor-a1:hover{
	background: url(../../images/editor1.png) no-repeat;
}
.labelDelete-a1{
	display: inline-block;
	width:13px;
	height:16px;
	background: url(../../images/delete.jpg) no-repeat;
}
.labelDelete-a1:active,.labelDelete-a1:hover{
	background: url(../../images/delete1.png) no-repeat;
}
.labelNum-a1{
	position: absolute;
	top:-12px;
	left:15px;
	background: #fff;
	padding:0 8px;
}
.addLabel-a1 button{
	background: #fff;
	padding:7px 10px;
	border: 1px solid #797979;
	border-radius: 4px;
}
