<div class="container-fluid">
	<div>
		<ul class="labelType-a1" id="ljLableA1Id">
			<li ng-repeat="labelone in labelsarr" ng-class="{'taupeLabel':($index+1)%5  == 1,'purpleLabel':($index+1)%5  == 2,'darkGreenLabel':($index+1)%5  == 3,'redLabel':($index+1)%5  == 4,'blueLabel':($index+1)%5  == 0}" >
				<div class="labelName-a1">
					<strong>{{labelone.name}}</strong>
					<a href="javascript:void(0);" class="labelEditor-a1"></a>
					<a href="javascript:void(0);" class="labelDelete-a1"></a>
				</div>
				<div class="labelNum-a1">
					<span>
						<strong>{{labelone.labels}}</strong>
					</span>
				</div> <!-- 棕色 -->
			</li>
		</ul>
	</div>
	<div class="addLabel-a1">
		<button ng-click="ljf()">添加标签</button>
	</div>
</div>
