<link rel="stylesheet" href="/common/css/checkbox/checkbox-b1.css">
<div class="container">
<!-- 组件 lj-checkbox-b-1 start -->
    <h3><b>样式型号：</b> lj-checkbox-b-1</h3>
    <p><a href="/zip/ljCheckbox/ljCheckboxB1.zip" download="ljCheckboxB1.zip">点击下载</a></p>
    <lj-checkbox-b-1 checks='checks' isall='isAll' newline='1'> </lj-checkbox-b-1>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-checkbox-b-1 checks='checks' isall='isAll' newline='1'> &lt;/lj-checkbox-b-1>
</pre>    
    <h5><b>组件说明：</b></h5>
<pre>
    1.checks : 选项组成的数组
    2.isall : 全选标示 默认false
    3.newline : 是否换行显示 默认1；1 是， 2 否
</pre>
<!-- 组件 lj-checkbox-b-1 end -->
</div>