    <link rel="stylesheet" href="/common/Font-Awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/common/css/build.css">
<div class="container">
   <!-- 组件 lj-checkbox-a-1 start -->
    <h3><b>样式型号：</b> lj-checkbox-a-1</h3>
    <p><a href="/zip/ljCheckbox/ljCheckboxA1.zip" download="ljCheckboxA1.zip">点击下载</a></p>
        <lj-checkbox-a-1 checks='checks'></lj-checkbox-a-1>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-checkbox-a-1 checks='checks'>&lt;/lj-checkbox-a-1>
</pre>    
    <h5><b>组件说明：</b></h5>
<pre>
    1.checks : 选项组成的数组
</pre>
<!-- 组件 lj-checkbox-a-1 end -->
</div>