<link rel="stylesheet" href="/common/css/label/label-b1.css">
<div class="container">
    <!-- 组件 lj-label-b-1 start -->
    <h3><b>样式型号：</b> lj-label-b-1</h3>
    <p><a href="/zip/ljLabel/ljLabelB1.zip"  download="ljLabelB1.zip">点击下载</a></p>


    <lj-label-b-1 labelsarr="labelsarr" count="count" listlen = 'listlen' loadmore="loadmore()" labelclick="labelclick(fs)"></lj-label-b-1>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-label-b-1 labelsarr="labelsarr" count="count">&lt;/lj-label-b-1>
</pre>
    <!-- 组件 lj-label-b-1 end -->
    <h5><b>组件说明：</b></h5>
<pre>
    
</pre>
</div>