<link rel="stylesheet" href="/common/css/label/label-a1.css">
<div class="container">
    <!-- 组件 lj-label-a-1 start -->
    <h3><b>样式型号：</b> lj-label-a-1</h3>
    <p><a href="/zip/ljLabel/ljLabelA1.zip"  download="ljLabelA1.zip">点击下载</a></p>
        <lj-label-a-1 labelsarr="labelarr" ljfadd="labeladd()" ljfdel="labeldel(fs)"></lj-label-a-1>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-label-a-1>&lt;/lj-label-a-1>
</pre>
    <!-- 组件 lj-label-a-1 end -->
    <h5><b>组件说明：</b></h5>
<pre>
    1.labelsarr 标签数组
    2.lgfadd 新增标签的方法
    3.ljfdel 删除标签的方法
</pre>
</div>