<div class="popup-c1-modal" ng-click='ljPromptCHide()' ng-if='ljshow === true'>
    <div class="popup-c1">
        <div class="popup-c1-title">
            <button type="button" class="close"><span>&times;</span></button>
            <h4 class="modal-title">提示</h4>
        </div>
        <div class="popup-c1-content">
            <div class="popup-c1-text" ng-if='msg'>
                {{msg}}
            </div>
            <div>
                <span>
                    <button type="button" class="btn btn-c-s-common btn-blue-s">确定</button>
                </span>
            </div>
        </div>
    </div>
</div>