<link rel="stylesheet" href="/common/css/popup/popup-a1.css">
<div class="container">
    <!-- 组件 lj-prompt-a-1 start -->
    <h3><b>样式型号：</b> lj-prompt-a-1</h3>
    <p><a href="/zip/ljPrompt/ljPromptA1.zip"  download="ljPromptA1.zip">点击下载</a></p>
    <lj-prompt-a-1 sec='3' loading='loading'  msg='msg' ></lj-prompt-a-1>
    <button type="button"  class="btn btn-primary btn-md" ng-click='myClick()' >
    保存
    </button>
    <h5><b>组件标签：</b></h5>
    <!-- 组件 lj-prompt-a-1end -->
<pre>
    &lt;lj-prompt-a-1  loading='loading' msg='msg'> &lt;/lj-prompt-a-1>
</pre>    
    <h5><b>组件说明：</b></h5>
<pre>
    1.loading 用来设置是否显示弹出框,true:显示 false:不显示
    2.sec 用来设置跳转提示框的等待时间,单位秒
    3.msg 变量数组:存放弹出框提示信息与跳转路径以及显示成功还是失败的提示框的标志
</pre>
</div>