<link rel="stylesheet" href="/common/css/popup/popup-c1.css">
<style type="text/css"></style>
<div class="container">
   <!-- 组件 lj-prompt-c-1 start -->
    <h3><b>样式型号：</b> lj-prompt-c-1</h3>
       <p><a href="/zip/ljPrompt/ljPromptC1.zip" download="ljPromptC1.zip">点击下载</a></p>
<button type="button" class="btn btn-primary btn-lg" ng-click="show()">
          点击按钮
</button>
<lj-prompt-c-1 ljshow='ljshow' msg='msgInfo'> </lj-prompt-c-1>
<hr>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-prompt-c-1 msg='msgInfo' ljshow='ljshow' > &lt;/lj-prompt-c-1>
</pre>    
    <h5><b>组件说明：</b></h5>
<pre>
    1.msg : 提示框提示信息。
    2.ljshow : 变量 是否显示 false 不显示  true 显示
</pre>
<!-- 组件 lj-prompt-c-1end -->
</div>