<span class="com_list_li" style="width:100%">
	<a href="{{producturl}}{{product.product_id}}">
		<div class="com_list_img">
			<img ng-src="{{product.product_img || altimg}}" width="{{prowidth}}" height="{{proheight}}">
			<div class="end_date" ng-show="product.end_time !=''">截止日期：<span>{{product.end_time | date:'MM月dd日'}}</span></div>
		</div>
		<img ng-show="activityimg!=''" ng-src="{{activityimg}}" class="list_img" width="{{activitywidth}}">
		<h4><span class="custom_color" ng-if="product.customize_status==1">[可定制]</span>{{product.product_name}}</h4>
		<p>
			<b>￥{{product.discount_price}}</b>
		</p>
		<div class="merchant_p">
			<div class="col-xs-6 text-left">
				<p>
					<s>￥{{product.product_price}}</s>
				</p>
				<p>
					<span ng-hide="product.discount_proportion =='' || product.discount_proportion ==0" class="merchant_discount">{{product.discount_proportion*10}}折</span>
				</p>
			</div>
			<div class="col-xs-6 text-right">
				<p>{{product.con_resource}}</p>
				<p>已售<span>{{product.sale_num}}</span>件</p>
			</div>
		</div>
	</a>
</span>
