<div class="container">
    <!-- 组件 lj-wave-graph-a start -->
    <h3><b>样式型号：</b> lj-wave-graph-a</h3>
    <p><a href="/zip/ljWaveGraph/ljWaveGraphA.zip"  download="ljWaveGraphA.zip">点击下载</a></p>
        <lj-wave-graph-a myinterval="3000" images='images'></lj-wave-graph-a> 
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-wave-graph-a myinterval="3000" images='images'>&lt;/lj-wave-graph-a>
</pre>    
    <h5><b>组件说明：</b></h5>
<pre>
    1.myinterval 轮波图间隔时间
    2.images 轮波图显示图片数组
</pre>
<!-- 组件 lj-wave-graph-a end -->
</div>