<link rel="stylesheet" href="/common/css/waveGraph/waveGraphB.css">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<div class="container">
    <!-- 组件 lj-wave-graph-b start -->
    <h3><b>样式型号：</b> lj-wave-graph-b</h3>
    <p><a href="/zip/ljWaveGraph/ljWaveGraphB.zip"  download="ljWaveGraphB.zip">点击下载</a></p>
        <lj-wave-graph-b intervalb="3000" imagesb='imagesb' imgwidthb="750px" imgheghtb="200px" effectb="fade" isarrowsb='1' isaginationb='1' imgdetail='imgdetail(imgid)' defaultimg='/common/images/sel_card.jpg'></lj-wave-graph-b> 
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-wave-graph-b intervalb="3000" imagesb='imagesb' imgwidthb="750px" imgheghtb="315px" effectb="fade" isarrowsb='1' isaginationb='1' imgdetail='imgdetail(imgid)' defaultimg='/common/images/sel_card.jpg'>&lt;/lj-wave-graph-b>
</pre>    
    <h5><b>组件说明：</b></h5>
<pre>
    1.intervalb 轮播图轮转间隔时间
    2.imagesb 轮播图显示图片数组
    3.imgwidthb 轮播图宽度设置
    4.imgheghtb 轮播图高度设置
    5.effectb 轮播图的切换效果,slide(位移切换),fade(淡入),cube(方块),coverflow(3d流)
    6.isarrowsb 是否显示上一页下一页的左右箭头,设置为1:显示，其余则视为不显示
    7.isaginationb 是否显示轮播图下面的小圆点,设置为1：显示,其余则视为不显示
    8.imgdetail 点击一张图片的跳转地址
    9.defaultimg 轮播图没有图片的时候默认图片，可以自行设置
</pre>
<!-- 组件 lj-wave-graph-a end -->
</div>