<link rel="stylesheet" href="/common/css/content/contentA.css">
<div class="container">
    <!-- 组件 lj-content-a start -->
    <h3><b>样式型号：</b> lj-content-a</h3>
    <p><a href="/zip/ljContent/ljContentA.zip"  download="ljContentA.zip">点击下载</a></p>
        <lj-content-a newcontent='newcontent' gotopurl='/common/images/back_top.png'></lj-content-a>
    <br>

    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-content-a newcontent='newcontent' gotopurl='/common/images/back_top.png'>&lt;/lj-content-a>
</pre>    
    <h5><b>组件说明：</b></h5>
<pre>
    1.newcontent 具体显示的详情内容
    2.gotopurl 返回顶部的图片地址
    
</pre>
<!-- 组件 lj-content-a end -->