
.information_dl dd{
	padding:0.2rem 0.3rem;
	border-bottom: 1px solid #f4f4f4;
}
.information_dl dd i{
	display: inline-block;
	font-style: normal;
	color: #a5a5a5;
	vertical-align: middle;
	padding-right:0.2rem;
}
.information_dl dd span{
	display: inline-block;
	color: #555;
	vertical-align: middle;
}