.listb-table{
	min-width: 1024px;
	border-right:none;
	font-size: 14px;
}
.listb-table>thead>tr>th,.listb-table>tbody>tr>td{
	text-align: center;
	border-bottom: none;
	border-top:none;
	vertical-align: middle;
	height: 36px;
}
.listb-table>thead>tr{
	background-color: #bcbcbc;
	color: #fff;
}
.listb-table>thead>tr>th{
	border-right: 1px solid #E4E4E4;
}
.listb-table-a-color>a{
	color: #0066cc;
}
.listb-table-a{
	margin-right: 10px;
}
/*表格内容奇数行为白色*/
.listb-table>tbody>tr:nth-child(odd){
	background-color: #fff;
}
/*表格内容偶数行为淡蓝色*/
.listb-table>tbody>tr:nth-child(even){
	background-color: #DAE9F5;
}