.liste-table{
	min-width: 1024px;
	border:1px solid #e1e1e1;
	border-right:none;
}
.liste-table>thead>tr>th,.liste-table>tbody>tr>td{
	padding: 3px 6px;
	font-size: 13px;
	border-right:1px solid #e1e1e1;
	vertical-align: middle;
	height:30px;
	text-align: center;
}
.liste-table>thead>tr>th{
	border-bottom: none;
	border-top:none;
	background-color: #327AC2;
	color:#fff;
}
/*表格内容奇数行为淡蓝色*/
.liste-table>tbody>tr:nth-child(odd){
	background-color: #ECF4FB;
}
/*表格内容偶数行为白色*/
.liste-table>tbody>tr:nth-child(even){
	background-color: #fff;
}
.liste-table-operation>a{
	margin-right:13px;
}
.special-col{
	color:#327AC2;
}