
/*锚点定位组件样式----start*/
.brand_list_ul{
	position: fixed;
	z-index:99;
	width:100%;
	background: #fff;
	display: flex;
	flex-wrap:wrap;
	justify-content:center;
	padding:0;
	padding-top:0.2rem;
	margin:0;
}
.brand_list_ul li{
	list-style: none;
	float: left;
	color: #555;
	width: 11%;
	font-size: 0.25rem;
	text-align: center;
	padding-bottom: 0.2rem;
	cursor: pointer;
}
.brand_list_ul .letter_selected span,.brand_list_ul span.letter_selected{
	color:#529034;
	border-bottom: 2px solid #529034;
	padding:0.08rem 0.15rem;
}
.brandContent{
	padding-top:2.1rem;
}
.brandLetter{
	margin-top:0.2rem;
	padding-top:0.2rem;
	background: #fff;
	padding:0.2rem 0 0 0;
}
.brandImg{
	padding-right: 0.5rem;
}
.brandName{
	vertical-align: middle;
}
.brandLetter dd,.brandLetter a{
	display: inline-block;
	width:100%;
}
.brandLetter a:hover{
	text-decoration: none;
}
.brandLetter dt,.brandLetter dd{
	margin:0;
	padding-left:0.4rem;
	padding-right: 0.4rem;
}
.brandLetter dt{
	font-size: 0.25rem;
	font-weight: 500;
}
.brandLetter dd{
	padding-top:0.2rem;
	padding-bottom:0.2rem;
	border-bottom: 1px solid #f4f4f4;
}
.brandLetter h4{
	padding:0;
	margin:0;
	font-size: 0.3rem;
	color:#555;
}
/*锚点定位组件样式----end*/

/*返回到顶部样式----start*/
#go_top{
	position:fixed; 
	right: 0;
	bottom:0.5rem;
	text-align: center;
} 
/*返回到顶部样式----end*/
