.listd-table{
	min-width: 1024px;
	border-right:none;
	font-size: 12px;
}
.listd-table>thead>tr>th,.listd-table>tbody>tr>td{
	text-align: center;
	border-bottom: none;
	border-top:none;
	height: 33px;
	vertical-align: middle;
}
.listd-table>thead>tr{
	background-color: #FFF;
	border-bottom: 2px solid #3D87C4;
}

.listd-table-a-color>a{
	color: #006699;
	text-decoration: underline;
}
.listd-table-a{
	margin-right: 10px;
	cursor: pointer;
}
/*表格内容奇数行为白色*/
.listd-table>tbody>tr:nth-child(odd){
	background-color: #fff;
}
/*表格内容偶数行为淡蓝色*/
.listd-table>tbody>tr:nth-child(even){
	background-color: #E6E6EE;
}