    <link rel="stylesheet" href="/common/Font-Awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/common/css/build.css">
    <link rel="stylesheet" href="/common/css/radio/radio-a1.css">
<div class="container">
   <!-- 组件 lj-radio-a-1 start -->
    <h3><b>样式型号：</b> lj-radio-a-1</h3>
    <p><a href="/zip/ljRadio/ljRadioA1.zip" download="ljRadioA1.zip">点击下载</a></p>
        <lj-radio-a-1 radios='radios' checkvalue='checkValue'></lj-radio-a-1>

         <span><button ng-click='myClick()'>提交（辅助按钮）</button></span>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-radio-a-1 radios='radios' checkvalue='checkValue'>&lt;/lj-radio-a-1>
</pre>    
    <h5><b>组件说明：</b></h5>
<pre>
    1.radios : 选项组成的数组
    2.checkvalue : 变量:存放选中值
</pre>
<!-- 组件 lj-radio-a-1 end -->
</div>