<link rel="stylesheet" href="/common/css/label/label-a1.css">
<div class="container">
    <!-- 组件 lj-label-a-1 start -->
    <h3><b>样式型号：</b> lj-label-a-1</h3>
    <p><a href="/zip/ljLable/ljLabelA1.zip"  download="ljLabelA1.zip">点击下载</a></p>
        <lj-label-a-1 lablesarr="lablearr" lablestyle="lablestyle" ljf="lablea1()"></lj-label-a-1>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-label-a-1>&lt;/lj-label-a-1>
</pre>
    <!-- 组件 lj-label-a-1 end -->
    <h5><b>组件说明：</b></h5>
<pre>
    1.ljn用来设置按钮里所显示的文字，可以自行设置
</pre>
</div>