<div class="container-fluid">
	<button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal">
		添加名称
	</button>
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  	<div class="modal-dialog popup-e1" role="document">
	    	<div class="modal-content">
	      		<div class="popup-e1-title">
	        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        		<h4 class="modal-title" id="myModalLabel">{{popupA1Title}}</h4>
	      		</div>
	      		<div class="popup-e1-content">
	      			<div class="popup-e1-text" ng-show="shows >= 1">
			        	{{popupA1Name1}}&nbsp;<input type="text" class="form-control input-l" placeholder="{{popupA1Holder1}}" ng-model="popupA1Value1"><!-- 错误提示框颜色class为input-error -->
			      	</div>
			      	<div class="popup-e1-text" ng-show="shows >= 2">
			        	{{popupA1Name2}}&nbsp;<input type="text" class="form-control input-l" placeholder="{{popupA1Holder2}}" ng-model="popupA1Value2"><!-- 错误提示框颜色class为input-error -->
			      	</div>
			      	<div class="popup-e1-text" ng-show="shows >= 3">
			        	{{popupA1Name3}}&nbsp;<input type="text" class="form-control input-l" placeholder="{{popupA1Holder3}}" ng-model="popupA1Value3"><!-- 错误提示框颜色class为input-error -->
			      	</div>
			      	<div class="popup-e1-text" ng-show="shows >= 4">
			        	{{popupA1Name4}}&nbsp;<input type="text" class="form-control input-l" placeholder="{{popupA1Holder4}}" ng-model="popupA1Value4"><!-- 错误提示框颜色class为input-error -->
			      	</div>
			      	<div ng-if="popupMsg" style="color:red;margin-bottom:10px;">{{popupMsg}}</div>
			      	<div>
			        	<span class="popup-e1-btn">
			        		<button type="button" class="btn btn-c-s-common btn-blue-s" ng-click="ljf()">确定</button>
			        	</span>
			        	<span>
			        		<button type="button" class="btn btn-c-s-common btn-white-s" data-dismiss="modal">取消</button>
			        	</span>
			      	</div>
	      		</div>
	    	</div>
	  	</div>
	</div>
</div>
