<div>
    <table class="table liste-table">
            <thead>
                <tr ng-show="titleArr">
                    <th width="5%">
                        <input type="checkbox" ng-checked="allDone" ng-click='allCheck(allDone)'  ng-model="allDone" >
                    </th>
                    <th ng-repeat="itemTitle in titleArr" width="{{itemTitle.width}}">{{itemTitle.name}}</th>
                </tr>
            </thead>
            <tbody>
                    <tr  ng-repeat="data in listArr">
                        <td >
                                <input type="checkbox" ng-checked="data.done" ng-click='oneCheck(data.done)' ng-model="data.done"  >
                        </td> 
                        <td  ng-if ='titleArr.th2' >{{data.td2||'-----'}}</td>
                        <td ng-if ='titleArr.th3'  >{{data.td3||'-----'}}</td>
                        <td ng-if ='titleArr.th4'  >{{data.td4||'-----'}}</td>
                        <td ng-if ='titleArr.th5' >{{data.td5||'-----'}}</td>
                        <td ng-if ='titleArr.th6' >{{data.td6||'-----'}}</td>
                        <td ng-if ='titleArr.th7' >{{data.td7||'-----'}}</td>
                        <td ng-if ='titleArr.th8' >{{data.td8||'-----'}}</td>
                        <td ng-if="titleArr.th9">{{data.td9||'-----'}}</td>
                        <td ng-if="titleArr.th10">{{data.td10||'-----'}}</td>
                        <td ng-if="titleArr.th11">{{data.td11||'-----'}}</td>
                        <td ng-if="titleArr.th12">{{data.td12||'-----'}}</td>
                        <td ng-if="titleArr.th13">{{data.td13||'-----'}}</td>
                        <td ng-if="titleArr.th14">{{data.td14||'-----'}}</td>
                        <td ng-if="titleArr.th15">{{data.td15||'-----'}}</td>
                        <!-- 操作列 -->
                        <td class="listc-table-a-color" ng-if ='titleArr.operation'>
                            <a ng-click="fun1({fs:data})"  class="listd-table-a" >{{operations.fun1Name}}</a>
                            <a ng-click="fun2({fs:data})"  class="listd-table-a" >{{operations.fun2Name}}</a>
                            <a ng-click="fun3({fs:data})"  class="listd-table-a" >{{operations.fun3Name}}</a>
                            <a ng-click="fun4({fs:data})"  class="listd-table-a" >{{operations.fun4Name}}</a>
                        </td>
                    </tr>
                    <!-- 行数补全 -->
                    <tr ng-repeat="tr in completes" ng-if='completes'>
                        <td ng-repeat="td in tr" ></td>
                    </tr>
            </tbody>
        </table>
</div>
