<div class="container-fluid">
        <table class="table table-hover listc-table">
            <thead>
                <tr>
                    <th ng-repeat="itemTitle in titleArr" width="{{itemTitle.width}}">{{itemTitle.name}}</th>
                </tr>
            </thead>
            <tbody>
                <tr  ng-repeat="data in listArr">
                        <td ng-if ='titleArr.th1'  >{{data.td1||'-----'}}</td>
                        <!-- 图片列 -->
                        <td ng-if ='titleArr.thImg'  class="listc-table-img">
                                <img height="50" width="50" ng-src=" {{data.tdImg}}" ng-if="data.tdImg">
                                <p ng-if="!data.tdImg">-----</p>
                        </td>
                        <td ng-if ='titleArr.th2'  >{{data.td2||'-----'}}</td>
                        <td ng-if ='titleArr.th3'  >{{data.td3||'-----'}}</td>
                        <td ng-if ='titleArr.th4' >{{data.td4||'-----'}}</td>
                        <td ng-if ='titleArr.th5' >{{data.td5||'-----'}}</td>
                        <td ng-if ='titleArr.th6' >{{data.td6||'-----'}}</td>
                        <td ng-if ='titleArr.th7' >{{data.td7||'-----'}}</td>
                        <td ng-if ='titleArr.th8' >{{data.td8||'-----'}}</td>
                        <td ng-if="titleArr.th9">{{data.td9||'-----'}}</td>
                        <td ng-if="titleArr.th10">{{data.td10||'-----'}}</td>
                        <td ng-if="titleArr.th11">{{data.td11||'-----'}}</td>
                        <td ng-if="titleArr.th12">{{data.td12||'-----'}}</td>
                        <td ng-if="titleArr.th13">{{data.td13||'-----'}}</td>
                        <td ng-if="titleArr.th14">{{data.td14||'-----'}}</td>
                        <td ng-if="titleArr.th15">{{data.td15||'-----'}}</td>
                        <!-- 是否显示红色字体 -->
                        <td ng-if ='titleArr.thRed'>
                                <span ng-show="data.isRed==1" class="list-table-red" >{{data.tdRed||'-----'}}</span>
                                <span ng-show="data.isRed !=1">{{data.tdRed||'-----'}}</span>
                        </td>
                        <!-- 操作列 -->
                        <td class="listc-table-a-color" ng-if ='titleArr.operation'>
                            <a ng-click="fun1({fs:data})"  class="listc-table-a" >{{operations.fun1Name}}</a>
                            <a ng-click="fun2({fs:data})"  class="listc-table-a" >{{operations.fun2Name}}</a>
                            <a ng-click="fun3({fs:data})"  class="listc-table-a" >{{operations.fun3Name}}</a>
                            <a ng-click="fun4({fs:data})"  class="listc-table-a" >{{operations.fun4Name}}</a>
                        </td>
                    </tr>
                    <!-- 行数补全 -->
                    <tr ng-repeat="tr in completes" ng-if='completes'>
                        <td ng-repeat="td in tr" ></td>
                    </tr>
            </tbody>
        </table>
</div>