<table class="list-demo" ng-show ='listArr'><!-- 列表组件demo -->
    <tr ng-show ='titleArr'>
        <th ng-repeat="itemTitle in titleArr" >{{itemTitle.name}}</th>
    </tr>
    <tr  ng-repeat="data in listArr">
        <td>{{$index + 1}}</td> 
        <td  class="color-blue" ng-show ='data.td2' >{{data.td2}}</td>
        <td ng-show ='data.td3' >{{data.td3}}</td>
        <td ng-show ='data.td4' >{{data.td4}}</td>
        <td ng-show ='data.td5' >{{data.td5}}</td>
        <td ng-show ='data.td6'>{{data.td6}}</td>
        <td ng-show ='data.td7'>{{data.td7}}</td>
        <td ng-show ='data.td8'>{{data.td8}}</td>
    </tr>
</table>