/*资讯详情组件---start*/
.new_details_content p{
	padding:0;
	margin:0;
	color:#666;
	padding-top:0.3rem;
}
.new_details_img{
	padding-top:0.2rem;
}
.new_details_location{
	color:#555;
	padding-top: 0.3rem;
}
.new_details_describer dd{
	text-indent: 0.4rem;
	padding-top: 0.2rem;
}
/*资讯详情组件---end*/
/*返回到顶部样式----start*/
#go_top{
	position:fixed; 
	right: 0;
	bottom:0.5rem;
	text-align: center;
} 
/*返回到顶部样式----end*/