.uploader-a1{
	position: relative;
	height: 27px;
	line-height: 27px;
}
.upolader-file-a1,.uploader-btn-a1{
	position: absolute;
	top:0;
	left:0;
	width:84px;
	height:27px;
}
.upolader-file-a1{
	z-index: 5;
	opacity: 0;
}
.uploader-btn-a1{
	z-index: 2;
}
.uploader-span-a1{
	color:#999;
	margin-left:95px;
}
.uploader-images-a1{
	margin-top:20px;
	position: relative;
}
.uploader-img-a1{
	width:245px;
}
.uploader-images-a1 em{
	width:20px;
	height:20px;
	background: url(../../images/delete.png) no-repeat;
	position: absolute;
	cursor: pointer;
	margin-top:-10px;
	margin-left:-10px;
	display: none;
}
.uploader-img-a1:hover ~ em,.uploader-images-a1 em:hover{
	display: inline-block;
}

