/*多图上传最外层div*/
.more_image{
	width:80%; 
	margin:40px auto 0 auto; 
	min-height:150px;
}
/*图片预览大div*/
.preview{
	width:200px;
	border:solid 1px #dedede; 
	padding:10px;
}
/*添加图片按钮*/
.btn{
	position: relative;
	overflow: hidden;
	margin-right: 4px;
	display:inline-block;*display:inline;
	padding:4px 10px 4px;
	font-size:14px;
	line-height:18px;*line-height:20px;
	color:#fff;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	background-color:#5bb75b;
	border:1px solid #cccccc;
	border-color:#e6e6e6 #e6e6e6 #bfbfbf;
	border-bottom-color:#b3b3b3;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}
/*添加图片按钮里的input*/
.btn input {
	position: absolute;
	top: 0; 
	right: 0;
	margin: 0;
	border: solid transparent;
	opacity: 0;filter:alpha(opacity=0); 
	cursor: pointer;
}
.btn:hover,.btn:focus{
	color:#fff;
}
/*图片允许上传规则说明*/
.img_claim{
	color:#8fd900;
}
/*图片右上角删除的小叉子*/
.uploader-images-b1 span{
	position: relative;
	display: inline-block;
	width: 200px;
	margin:10px;
}
.uploader-images-b1 em{
	width:20px;
	height:20px;
	background: url(../../images/delete.png) no-repeat;
	position: absolute;
	cursor: pointer;
	top:0;
	right:0;
	margin-top:-10px;
	margin-right:-10px;
	display: none;
}
.preview:hover ~ em,.uploader-images-b1 em:hover{
	display: inline-block;
}