<link rel="stylesheet" href="/common/css/select/selectA.css">
<div class="container">
    <!-- 组件 lj-select-a-1-l start -->
    <h3><b>样式型号：</b> lj-select-a-1-l</h3>
    <p><a href="/zip/ljSelect/ljSelectA1L.zip"  download="ljSelectA1L.zip">点击下载</a></p>
       <lj-select-a-1-l ljf="ljfun(fs)" selects="selectArr" isshow="errorShow" message="errorText" selected='selected'></lj-select-a-1-l>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-select-a-1-l ljf="ljfun(fs)" selects="selectArr" isshow="errorShow" message="errorText" selected='selected'>&lt;/lj-select-a-1-l>
</pre>    
    <h5><b>组件说明：</b></h5>
<pre>
    1.ljf 下拉框 内容改变绑定事件
    2.selects 下拉框信息
    3.isshow 是否显示错误信息标示
    4.message  错误信息
    5.selected  默认显示信息
    6.建议长度4-12个汉字 
</pre>
<!-- 组件 lj-select-a-1-l end -->
<!-- 组件 lj-select-a-1-m start -->
    <h3><b>样式型号：</b> lj-select-a-1-m</h3>
    <p><a href="/zip/ljSelect/ljSelectA1M.zip"  download="ljSelectA1M.zip">点击下载</a></p>
       <lj-select-a-1-m ljf="ljfunm(fs)" selects="selectArrm" isshow="errorShowm" message="errorTextm" selected='selectedm'></lj-select-a-1-m>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-select-a-1-m ljf="ljfunm(fs)" selects="selectArrm" isshow="errorShowm" message="errorTextm" selected='selectedm'>&lt;/lj-select-a-1-m>
</pre>    
    <h5><b>组件说明：</b></h5>
<pre>
    1.ljf 下拉框 内容改变绑定事件
    2.selects 下拉框信息
    3.isshow 是否显示错误信息标示
    4.message  错误信息
    5.selected  默认显示信息
    6.建议长度1-6个汉字 
</pre>
<!-- 组件 lj-select-a-1-m end -->
</div>
