<link rel="stylesheet" href="/common/css/select/selectC.css">
<div class="container">
    <!-- 组件 lj-select-d-1 start -->
    <h3><b>样式型号：</b> lj-select-d-1 :三级联动选择</h3>
    <p><a href="/zip/ljSelect/ljSelectD1.zip"  download="ljSelectD1.zip">点击下载</a></p>
    <lj-select-d-1 msg='msg' select2='1' select3='1' classification='classification'></lj-select-d-1>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-select-d-1 msg='msg' select2='1' select3='1' classification='classification'>&lt;/lj-select-d-1>
</pre>    
    <h5><b>组件说明：</b></h5>
<pre>
    1.classification 存放选择区域结果
    2.select2 当select2=0时，二级分类消失；select2=1时，二级分类显示 默认为1
    3.select3 当select3=0时，二级分类消失；select3=1时，二级分类显示 默认为1
    4.msg 错误信息
</pre>
</div>
