<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <script type="text/javascript" src="/common/js/My97DatePicker/WdatePicker.js"></script>
    <script src="/common/js/jquery.min.js"></script>
    <script src="/common/js/angular.min.js"></script>
    <script src="/common/js/angular-route.min.js"></script>
    <script src="/common/js/MyModule.js"></script>
    <script src="/common/js/bootstrap.js"></script>
    <script src="/app/js/app.js"></script>
    <script src="/app/js/controller.js"></script>
    <script src="/common/js/directives.js"></script>
    <title>图书管理后台</title>
</head>
<body>
<div>
    有效截止日期：<input class="Wdate endDate" name="time_value" id="time_value" type="text" readonly="readonly" value="" onfocus="WdatePicker({minDate:'%y-%M-#{%d}',readOnly:true})" /><span class='error_time' style='display:none;' id='error_time'>不可为空</span>
</div>
</body>
</html>