<dl class="">
    <dd class="input-group date form_date " data-date-format="yyyy-mm-dd hh:ii:ss"  data-link-format="yyyy-mm-dd hh:ii:ss">
        <input class="form-control btn btn-default date_bg_btn input_width" size="15" type="text" ng-model="datevalueb" class="form_datetime" readonly>
        <span class="input-group-addon date_bg_btn span_width">
            <span class="glyphicon glyphicon-remove "></span>
        </span>
        <span class="input-group-addon date_bg_btn span_width">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
        <span class="dateInfo" ng-show="timeerrorb">{{timeerrorb}}</span>
    </dd>
</dl>
<script type="text/javascript"> 
$('.form_date').datetimepicker({
    language:  'zh-CN',
    weekStart: 1,//一周从哪一天开始。0（星期日）到6（星期六）
    todayBtn:  1,//日期时间选择器组件的底部显示一个 "Today" 按钮 true/false
    autoclose: 1,//当选择一个日期之后是否立即关闭此日期时间选择器。
    todayHighlight: 1,
    startView: 2,//日期时间选择器打开之后显示的视图。0:本小时1个小时:1天24小时,2:1个月30天,3:月,4:年
    minView: 0,//日期时间选择器所能够提供的最精确的时间选择视图。默认值：0, 'hour'
    maxView: 4,//日期时间选择器最高能展示的选择范围视图。默认值：4, 'decade'
    forceParse: 0,
    format: 'yyyy-mm-dd hh:ii:ss',//时间格式
});
</script>
