<link rel="stylesheet" href="/common/css/button/buttonLink.css">
<div class="container">
    <!-- 组件 lj-button-d-1  start -->
    <h3><b>样式型号：</b> lj-button-d-1</h3>
    <p><a href="/zip/ljButton/ljButtonD1.zip"  download="ljButtonD1.zip">点击下载</a></p>
        <lj-button-d-1 ljn="Link Button" ljd="d1Disabled" ljf="d1Fun()"></lj-button-d-1>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-button-c-1-b ljn="Link Button" ljd="d1Disabled" ljf="d1Fun()">&lt;/lj-button-c-1-b>
</pre>
    <!-- 组件 lj-button-c-1-b end -->
    <h5><b>组件说明：</b></h5>
<pre>
    1.ljn 用来设置按钮里所显示的文字，可以自行设置
    2.ljd控制按钮是否禁用标识，true：禁用 false：不禁用
    3.ljf用来控制按钮的点击方法，方法名称可以自行设置
    4.按钮里所显示的文字个数无限制
</pre>
<!-- 组件 lj-button-d-1  end -->
    <!-- 组件 lj-button-d-2  start -->
    <h3><b>样式型号：</b> lj-button-d-2</h3>
    <p><a href="/zip/ljButton/ljButtonD2.zip"  download="ljButtonD2.zip">点击下载</a></p>
        <lj-button-d-2 ljn="Link Button" ljd="d2Disabled" ljf="d2Fun()"></lj-button-d-2>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-button-d-2 ljn="Link Button" ljd="d2Disabled" ljf="d2Fun()">&lt;/lj-button-d-2>
</pre>
    <h5><b>组件说明：</b></h5>
<pre>
    1.ljn 用来设置按钮里所显示的文字，可以自行设置；
    2.ljd控制按钮是否禁用标识，true：禁用 false：不禁用
    3.ljf用来控制按钮的点击方法，方法名称可以自行设置
    4.按钮里所显示的文字个数无限制；
</pre>
<!-- 组件 lj-button-d-2  end -->
</div>
