<link rel="stylesheet" href="/common/css/button/buttonS.css">
<div class="container">
    <!-- 组件 lj-button-c-1-b start -->
    <h3><b>样式型号：</b> lj-button-c-1-b</h3>
    <p><a href="/zip/ljButton/ljButtonC1B.zip"  download="ljButtonC1B.zip">点击下载</a></p>
        <lj-button-c-1-b ljn="提交" ljd="c1bDisabled" ljf="c1bFun()"></lj-button-c-1-b>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-button-c-1-b ljn="提交" ljd="c1bDisabled" ljf="c1bFun()">&lt;/lj-button-c-1-b>
</pre>
    <h5><b>组件说明：</b></h5>
<pre>
    1.ljn 用来设置按钮里所显示的文字，可以自行设置
    2.ljd控制按钮是否禁用标识，true：禁用 false：不禁用
    3.ljf用来控制按钮的点击方法，方法名称可以自行设置
    4.按钮里所显示的文字个数最多为5个
</pre>
    <!-- 组件 lj-button-c-1-b end -->
    <!-- 组件 lj-button-c-1-w start -->
    <h3><b>样式型号：</b> lj-button-c-1-w</h3>
    <p><a href="/zip/ljButton/ljButtonC1W.zip"  download="ljButtonC1W.zip">点击下载</a></p>
        <lj-button-c-1-w ljn="返回" ljd="c1wDisabled" ljf="c1wFun()"></lj-button-c-1-w>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-button-c-1-w ljn="返回" ljd="c1wDisabled" ljf="c1wFun()">&lt;/lj-button-c-1-w>
</pre>
    <h5><b>组件说明：</b></h5>
<pre>
    1.ljn 用来设置按钮里所显示的文字，可以自行设置；
    2.ljd控制按钮是否禁用标识，true：禁用 false：不禁用
    3.ljf用来控制按钮的点击方法，方法名称可以自行设置
    4.按钮里所显示的文字个数最多为5个；
</pre>
    <!-- 组件 lj-button-c-1-w end -->
    <!-- 组件 lj-button-c-1-g start -->
    <h3><b>样式型号：</b> lj-button-c-1-g</h3>
    <p><a href="/zip/ljButton/ljButtonC1G.zip"  download="ljButtonC1G.zip">点击下载</a></p>
        <lj-button-c-1-g ljn="保存" ljd="c1gDisabled" ljf="c1gFun()"></lj-button-c-1-g>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-button-c-1-g ljn="保存" ljd="c1gDisabled" ljf="c1gFun()">&lt;/lj-button-c-1-g>
</pre>
    <!-- 组件 lj-button-c-1-g end -->
    <h5><b>组件说明：</b></h5>
<pre>
    1.ljn 用来设置按钮里所显示的文字，可以自行设置；
    2.ljd控制按钮是否禁用标识，true：禁用 false：不禁用
    3.ljf用来控制按钮的点击方法，方法名称可以自行设置
    4.按钮里所显示的文字个数最多为5个；
</pre>
</div>
