<link rel="stylesheet" href="/common/css/button/buttonL1.css">
<link rel="stylesheet" href="/common/css/button/buttonM.css">
<div class="container">
    <!-- 组件 lj-button-a-1-b start -->
    <h3><b>样式型号：</b> lj-button-a-1-b</h3>
    <p><a href="/zip/ljButton/ljButtonA1B.zip"  download="ljButtonA1B.zip">点击下载</a></p>
        <lj-button-a-1-b ljn="保存" ljd="a1bDisabled" ljf="a1bFun()"></lj-button-a-1-b>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-button-a-1-b ljn="保存" ljd="a1bDisabled" ljf="a1bFun()">&lt;/lj-button-a-1-b>
</pre>
    <!-- 组件 lj-button-a-1-b end -->
    <h5><b>组件说明：</b></h5>
<pre>
    1.ljn用来设置按钮里所显示的文字，可以自行设置
    2.ljd控制按钮是否禁用标识，true：禁用 false：不禁用
    3.ljf用来控制按钮的点击方法，方法名称可以自行设置
    4.按钮里所显示的文字个数最多为8个
</pre>
</div>
<div class="container">
    <!-- 组件 lj-button-a-1-w start -->
    <h3><b>样式型号：</b> lj-button-a-1-w</h3>
    <p><a href="/zip/ljButton/ljButtonA1W.zip"  download="ljButtonA1W.zip">点击下载</a></p>
        <lj-button-a-1-w ljn="保存" ljd="a1wDisabled" ljf="a1wFun()"></lj-button-a-1-w>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-button-a-1-w ljn="保存" ljd="a1wDisabled" ljf="a1wFun()">&lt;/lj-button-a-1-w>
</pre>
    <!-- 组件 lj-button-a-1-w end -->
    <h5><b>组件说明：</b></h5>
<pre>
    1.ljn用来设置按钮里所显示的文字，可以自行设置；
    2.ljd控制按钮是否禁用标识，true：禁用 false：不禁用
    3.ljf用来控制按钮的点击方法，方法名称可以自行设置
    4.按钮里所显示的文字个数最多为8个；
</pre>
</div>
<div class="container">
    <!-- 组件 lj-button-a-1-g start -->
    <h3><b>样式型号：</b> lj-button-a-1-g</h3>
    <p><a href="/zip/ljButton/ljButtonA1G.zip"  download="ljButtonA1G.zip">点击下载</a></p>
        <lj-button-a-1-g ljn="保存" ljd="a1gDisabled" ljf="a1gFun()"></lj-button-a-1-g>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-button-a-1-g ljn="保存" ljd="a1gDisabled" ljf="a1gFun()">&lt;/lj-button-a-1-g>
</pre>
    <!-- 组件 lj-button-a-1-g end -->
    <h5><b>组件说明：</b></h5>
<pre>
    1.ljn用来设置按钮里所显示的文字，可以自行设置；
    2.ljd控制按钮是否禁用标识，true：禁用 false：不禁用
    3.ljf用来控制按钮的点击方法，方法名称可以自行设置
    4.按钮里所显示的文字个数最多为8个；
</pre>
</div>
