<div>
	<div class="paging-d1-rows" ng-show="count>0">
		<span>{{currentpage}}/{{count}}</span>
		<a ng-click="ljf({data:currentpage-1});search(currentpage-1)" ng-class="{true : 'paging-d1-prev'}[classPrev]">
			<span class="glyphicon glyphicon-triangle-left paging-d1-left" ></span>
			上一页
		</a>
		<a ng-click="ljf({data:currentpage+1});search(currentpage+1)" ng-class="{true :'paging-d1-prev'}[classLast]">
			下一页
			<span class="glyphicon glyphicon-triangle-right paging-d1-right"></span>
		</a>
	</div>
</div>