<script src="/common/js/gVerify.js"></script>
<div class="container">
    <!-- 组件 lj-verification-code-b start -->
    <h3><b>样式型号：</b> lj-verification-code-b</h3>
    <p><a href="/zip/ljVerification/ljVerificationB.zip"  download="ljVerificationB.zip">点击下载</a></p>
        
        <lj-verification-code-b verifycode='verifycode' verifyerror='verifyerror'></lj-verification-code-b>
        <br/>
        <input type="text" id="code_input" value="" placeholder="请输入验证码"/>
        <br/><br/> 
        <button class="btn" id="my_button" ng-click="subCheck();">提交</button>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-verification-code-b>&lt;/lj-verification-code-b>
</pre>    
    <h5><b>组件说明：</b></h5>
<pre>
    1.verifycode 验证码的值
    2.verifyerror 验证码输入错误的提示信息
</pre>
<!-- 组件 lj-verification-code-b end -->
</div>