
<link rel="stylesheet" href="/common/css/capture/captureA.css">
<div class="container">
    <!-- 组件 lj-verification-code-a-1 start -->
    <h3><b>样式型号：</b> lj-verification-code-a-1</h3>
    <p><a href="/zip/navigation/ljBreadCrumbtrailA1.zip"  download="ljBreadCrumbtrailA1.zip">点击下载</a></p>
        <lj-verification-code-a-1 result="result"></lj-verification-code-a-1>
        <br/>
        <button class="btn" id="embed-submit" ng-mouseover='checkone()' ng-click="checkcap();">提交</button>
    <h5><b>组件标签：</b></h5>
<pre>
    &lt;lj-verification-code-a-1>&lt;/lj-verification-code-a-1>
</pre>    
    <h5><b>组件说明：</b></h5>
<pre>
    1.
</pre>
<!-- 组件 lj-verification-code-a-1 end -->
</div>